<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>assignment</display-name>
  <welcome-file-list>
<welcome-file>HomePage.html</welcome-file>
</welcome-file-list>
 
 <context-param>
        <param-name>dbDriver</param-name>
        <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
 <context-param>
        <param-name>dbHost</param-name>
        <param-value>192.168.1.189</param-value>
  </context-param>
  
  <context-param>
        <param-name>dbport</param-name>
        <param-value>1523</param-value>
  </context-param>
  
  <context-param>
        <param-name>dbUid</param-name>
        <param-value>apps</param-value>
  </context-param>
  
  <context-param>
        <param-name>dbpassword </param-name>
        <param-value>apps</param-value>
  </context-param>
  
  <context-param>
        <param-name>dbsid</param-name>
        <param-value>sailodba</param-value>
  </context-param>
  
  <servlet>                   
 	<servlet-name>register</servlet-name>
 	<servlet-class>assignment.RegisterServlet</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>register</servlet-name>
 <url-pattern>/register</url-pattern>
 </servlet-mapping>
 
 <servlet>                   
 	<servlet-name>Login</servlet-name>
 	<servlet-class>assignment.LoginServlet</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>Login</servlet-name>
 <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 
 
 <servlet>                   
 	<servlet-name>Dashboard</servlet-name>
 	<servlet-class>assignment.DasboardServlet</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>Dashboard</servlet-name>
 <url-pattern>/Dashboard</url-pattern>
 </servlet-mapping>
 
 <servlet>                   
 	<servlet-name>Profile</servlet-name>
 	<servlet-class>assignment.ProfileServlet</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>Profile</servlet-name>
 <url-pattern>/Profile</url-pattern>
 </servlet-mapping>
 
</web-app>