<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Change Password</h1>
		</div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<div class="row" ng-controller="changePasswordCtrl">
	<div class="col-sm-12">
		<div class="inner-page-box">
<form name="Form" novalidate ng-submit="form.submit(Form)">
	
   <div class="alert alert-info margin-top-10"><strong>Info!</strong> Your password must be have at least 6 characters 
                        long,1 uppercase , 1 lowercase character ,1 special character and 1 number. </div></br>
			<div class="col-md-12">
				<div class="col-md-6">
				    <span id="saveMsg"></span>
					<div class="form-group">
						<label class="col-sm-5 control-label" for="newPassword">
							New Password <span class="red-star">*</span>
						</label>
						<div class="col-sm-7" ng-class="{'has-error':Form.newPassword.$dirty && Form.newPassword.$invalid, 'has-success':Form.newPassword.$valid}">
							<input type="password" autocomplete="on" id="newPassword" name="newPassword"  ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{6,16}$/"
								ng-model="newPassword" class="form-control underline" required>
								<span class="error text-small block"  ng-if="Form.newPassword.$dirty && Form.newPassword.$error.required">New Password is mandatory</span>	
  <span class="error text-small block" ng-if="Form.newPassword.$error.pattern">Your password must be have at least 6 characters long,1 uppercase , 1 lowercase character ,1 special character and 1 number</span>							
	
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="form-group" >
						<label class="col-sm-5 control-label" for="confirmPassword">
							Confirm Password <span class="red-star">*</span>
						</label>
						<div class="col-sm-7">
							<input type="password"  autocomplete="off" id="confirmPassword" name="confirmPassword"
								ng-model="confirmPassword" class="form-control underline"/>
							
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="form-group text-right margin-right-15">
						<button class="btn btn-primary" type="submit" >Change
							Password</button>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			</form>
			<div class="clearfix"></div>
		</div>
	</div>
</div>