<script>
   $('#invoiceDate').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
    });
   $('#financialPeriod').datepicker({
        format: 'mmyyyy',
        autoclose: true,
       viewMode: "months", 
       minViewMode: "months"
    });
</script>
<!-- start: PAGE TITLE --> 
<div ng-controller="editInvoiceCtrl"> 
   <form ng-submit="submitData()" name="myForm"  class="form-horizontal">
<section id="page-title">
   <div class="row">
      <div class="col-sm-4">
         <h1 class="mainTitle">Edit Invoice Details</h1>
      </div>
      <div class="col-sm-8 text-right">
         <button type="button" class="btn btn-primary" ng-click="sendToErp()" ng-disabled="data.headerId == null ? true : false" ng-show="tenantType=='CUSTOMER' ? true  : false"><i class="fa fa-arrow-right" aria-hidden="true" ></i> Send To ERP </button>

         <button type="button" class="btn btn-primary" ng-click="sendToErp()" ng-disabled="data.headerId == null ? true : false" ng-show="tenantType=='VENDOR' ? true : false"><i class="fa fa-arrow-right" aria-hidden="true" ></i> Send To Customer </button>
         <button type="submit" class="btn btn-primary" ng-click="submitted=true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update </button>
         <a ui-sref="app.billQueue" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back</a>
      </div>
   </div>
</section>
<!-- end: PAGE TITLE -->
<div class="container-fluid container-fullw generate-page">
   <div class="row">
      <div class="col-sm-12">
         <div class="inner-page-box generate-page-main-box">
            <div class="col-md-12">
               <span id="saveMsg"></span>
            </div>
               
            <div class="row hyva_taxer_details_box">
           <div class="col-sm-5 text-left">
            <div class="col-sm-12 text-bold text-left">Invoice Status : <span id="invoiceStatus"></span>
            <button type="button" class="btn btn-primary margin-left-10" ng-click="refreshErp()" ng-disabled="(data.workFlowStatus==2 || data.workFlowStatus==0) ? true : false"><i class="fa fa-refresh" aria-hidden="true"></i></button>
         </div>
            </div>
         </div>
      <div class="row hyva_taxer_details_box">
            
            <div class="col-sm-4">
            <div class="col-sm-12 text-bold text-left">Registered Name : <span class="text-normal-name">{{registeredName}}</span></div>
            </div>
            <div class="col-sm-4">
            <div class="col-sm-5 text-bold text-right padding-0">Registered ID : </div>
            <div class="col-sm-7">
            {{registeredId}}
            </div>
            </div>
            <div class="col-sm-4">
            <div class="col-sm-5 text-bold text-right padding-0">Registered Address : </div>
            <div class="col-sm-7">
            {{registeredAddress}}
            </div>
            </div>
         </div> 

<div class="sales_error_box">
               <span id="saveMsg"></span>
            </div>

               <div class="row">
                  <div class="col-md-12">
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="purchaseOrderNo">
                              Purchase Order No <span class="red-star">*</span>
                              </label>
                              <div class="col-sm-7">
                                 <input type="text" id="purchaseOrderNo" name="purchaseOrderNo"  ng-model="data.purchaseOrderNo" class="form-control underline">
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="invoiceNo">
                              Invoice Number <span class="red-star">*</span>
                              </label>
                              <div class="col-sm-7">
                                 <input type="text" id="invoiceNo" name="invoiceNo" ng-model="data.invoiceNo" class="form-control underline">
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="invoiceDate">
                              Invoice Date <span class="red-star">*</span>
                              </label>
                              <div class="col-sm-7">
                               <!--<div class="input-group">
                                    <input type="text" id="invoiceDate" ng-model="data.invoiceDate" class="form-control underline"   />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-click="open()">
                                    <i class="fa fa-calendar"></i>
                                    </button> </span>
                                 </div>-->
 
                                  <div class="input-group" > 
                                    <input type="text" id="invoiceDate" ng-model="data.invoiceDate" class="form-control underline" ng-required="true" autocomplete="off" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">
                                    <i class="fa fa-calendar"></i>
                                    </button> </span>
                                 </div> 
                               </div>
                         <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="invoiceValue">
                              Invoice Value <span class="red-star">*</span>
                              </label>
                              <div class="col-sm-7">
                                 <input type="text" id="invoiceValue" ng-model="data.invoiceValue" class="form-control underline">
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="financialPeriod">
                              Financial Period <span class="red-star">*</span>
                              </label>
                              <div class="col-sm-7">
                                  <div class="input-group">
                                    <input type="text"  ng-model="data.financialPeriod" id="financialPeriod" class="form-control" ng-required="true" autocomplete="off" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">
                                    <i class="fa fa-calendar"></i>
                                    </button> </span>
                                 </div>
                               </div>
                         <div class="clearfix"></div>
                           </div>
                        </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                        <fieldset class="margin-top-15">
                           <legend>
                              Business Partner Details
                           </legend>
                           <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="bpName">
                              Name
                              </label>
                              <div class="col-sm-7">
                                 <input type="text" ng-model="data.bpName" id ="bpName" class="form-control underline">
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="bpRegisteredId">
                              Registered Id <span class="red-star">*</span>
                              </label>
                              <div class="col-sm-7">
                                 <input type="text" id="bpRegisteredId" ng-model="data.bpRegisteredId"  name="bpRegisteredId" class="form-control underline">
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="bpCountryId">
                              Country 
                              </label>
                              <div class="col-sm-7">
                                 <select ng-model="data.bpCountryId" id="bpCountryId" ng-options="country.countryId as country.countryName for country in country" class="form-control underline">
                                    <option value="" disabled selected>Select Country</option>
                                 </select>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                         </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="bpStateId">
                              State 
                              </label>
                              <div class="col-sm-7">
                                 <select ng-model="data.bpStateId" id="bpStateId" ng-options="state.stateId as state.stateName for state in state" class="form-control underline">
                           <option value="" disabled selected>Select State</option>
                        </select>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="bpAddress">
                              Address
                              </label>
                              <div class="col-sm-7">
                                 <textarea id="bpAddress" ng-model="data.bpAddress" class="form-control underline"></textarea>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        </fieldset>
                        <fieldset class="margin-top-15">
                           <legend>
                              Shipping Details
                           </legend>
                           <div class="col-md-12">
                           <div class="form-group">
                              <div class="col-sm-12 invoice_add_details">
                              <span class="same_as_cdetails">
                              <input type="checkbox" autocomplete="off" id="sameAsAbove" ng-model="sameAsAbove" ng-change = 'samevalues()'>
                              <span><b>Same as billing Details</b></span>
                           </span>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                     <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="shipToName">
                              Name
                              </label>
                              <div class="col-sm-7">
                                 <input type="text" ng-model="data.shipToName" id ="shipToName" class="form-control underline">
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="shipToRegisteredId">
                              Registered Id <span class="red-star">*</span>
                              </label>
                              <div class="col-sm-7">
                                 <input type="text" id="shipToRegisteredId" ng-model="data.shipToRegisteredId" class="form-control underline">
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="bpCountryId">
                              Country 
                              </label>
                              <div class="col-sm-7">
                                 <select ng-model="data.bpCountryId" id="bpCountryId" ng-options="country.countryId as country.countryName for country in country" class="form-control underline">
                                    <option value="" disabled selected>Select Country</option>
                                 </select>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                         </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="shipToState">
                              Ship To State 
                              </label>
                              <div class="col-sm-7">
                                 <select ng-model="data.shipToState" ng-options="state.stateId as state.stateName for state in state" id="shipToState" class="form-control underline">
                                    <option value="" disabled selected>Select Ship To State</option>
                                 </select>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="col-sm-5 control-label" for="shipToAddress">
                              Address 
                              </label>
                              <div class="col-sm-7">
                                 <textarea ng-model="data.shipToAddress" id = "shipToAddress" class="form-control underline"></textarea>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        </fieldset>
                  </div>
               </div>
               
               
               <div class="row">
                  <div class="col-md-12">
                     <fieldset>
                        <legend>
                           Item Details <button type="button" class="btn add_new1" ng-click="addLine()"><i class="fa fa-plus" aria-hidden="true"></i> Add Line</button>
                        </legend>
                        <!-- <div class="col-md-12">
            <div class="pull-right inclusive-box">
               <input type="checkbox" autocomplete="off" id="inclusive" ng-model="inclusive"  ng-change = "posChanges()" ><span>Inclusive of Tax</span>
            </div>
            </div> -->
                        <div class="col-md-12 eway-bill-box no-padding">
                           <div class="table-responsive">
                              <table class="table table-bordered" id="fixTable">
                                 <thead>
                                    <tr>

                                       <th colspan="1" rowspan="2">S.No</th>
                                       <th colspan="1" rowspan="2">Item Description<span class="red-star">*</span></th>
                                       <th colspan="1" rowspan="2">Item Type</th>
                                       <th colspan="1" rowspan="2">HSN/SAC <span class="red-star">*</span></th>
                                       <th colspan="1" rowspan="2">Qty <span class="red-star">*</span></th>
                                       <th colspan="1" rowspan="2">UQC <span class="red-star">*</span></th>
                                       <th colspan="1" rowspan="2">Rate Per Item <span class="red-star">*</span></th>
                                       <th colspan="1" rowspan="1">Discount (Rs.) <span class="red-star">*</span></th>
                                       <th colspan="1" rowspan="2">Taxable Value <span class="red-star">*</span></th>
                                       <th colspan="1" rowspan="2">Taxable Rate <span class="red-star">*</span></th>
                                       <th colspan="3" rowspan="1">Tax Value (Rs.)</th>
                                       <th colspan="2" rowspan="1">Cess</th>
                                       <th colspan="1" rowspan="2">Total</th>
                                       <th colspan="1" rowspan="2">Actions</th>
                                    </tr>
                                    <tr>
                                    <th colspan="1" rowspan="1" class="two_th text-center">
                                       <span class="discount-column"> 
                                          <span>%<input type="radio" name="discount_type" ng-model="discountInr" value="Rate" ng-change="changeToPercentage()"></span> 
                                          <span>Rs.<input type="radio" name="discount_type" ng-model="discountInr" value="Rupees" ng-checked="true" ng-change="changeToPercentage()" ></span>
                                       </span>
                                    </th>                                       <th>CGST <span class="red-star">*</span></th>
                                       <th>SGST <span class="red-star">*</span></th>
                                       <th>IGST  <span class="red-star">*</span></th>
                                       <th>%</th>
                                       <th>Amt (Rs.)</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="ctrl in data.items">
                                       <td>
                                          {{ $index + 1 | number }}
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.descGoods" class="form-control" placeholder="Select item from list"></div>
                                       </td>
                                       <td>
                                          <div class="input"><select id="ty" class="" ng-model="ctrl.ty" ng-change="changeEvent()" >
                                                <option value="G" selected>Goods</option>
                                                <option value="S">Services</option>
                                          </select></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.hsnSc" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="number" ng-model="ctrl.qty" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.uqc" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.productRate" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="number" ng-model="ctrl.discountRate" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.txval" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><!--                                           <div class="input">
                                             <select id="rt" class="taxable_rate_dropdown " ng-model="ctrl.rt" ng-change = amountCalculations($index) name="rt{{$index}}" ng-class="{red:myForm.rt{{$index}}.$invalid && (myForm.rt{{$index}}.$touched || myForm.$submitted)}" class="grid_input" required>
                                             <option ng-repeat="taxRate in taxRates" ng-value="{{taxRate.taxRate}}" >{{taxRate.taxRate}}</option>
                                             </select></div>
 -->                                          <div class="input">
                                             <select id="taxRate" ng-model="ctrl.taxRate" class="taxable_rate_dropdown " class="grid_input" required>
                                             <option >0</option>
                                             <option >0.25</option>
                                             <option >3</option>
                                             </select></div>
</div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.camt" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.samt" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.iamt" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.csrt" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.csamt" class="form-control"></div>
                                       </td>
                                       <td>
                                          <div class="input"><input type="text" ng-model="ctrl.lineValue" class="form-control"></div>
                                       </td>
                                       <td class="text-center"><button type="button" class="btn btn-danger btn-xs" title="Delete">
                                          <i class="fa fa-trash " aria-hidden="true" title="Delete" ></i></button>
                                       </td>
                                    </tr>
                                    <tr class="salse_total_row">
                        <td colspan="7" class="text-center">Total Amount</td> 
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td><div class="input"><input type="text" class="form-control" disabled></div></td>
                        <td></td>
                        </tr>
                                 </tbody>
                              </table>
                           </div>


                        </div>
                        
                     </fieldset>
                  </div>
               </div>
            
         </div>
         <!-- Main Inner Box end -->
      </div>
   </div>
</div>
</form>
</div>