<style>
   .odd {
   background: #fff;
   }
   .user-image img {
   max-width: 50%;
   max-height: 200px;
   }
   .profile-pic-box h4 em{display:none;}
</style>
<div class="wrap-content container left-label-box " id="container" ng-controller="UserCtrl">
   <section id="page-title">
      <div class="row">
         <div class="col-md-12">
            <h1 class="mainTitle">
               <i class="glyphicons glyphicons-fit-image-to-frame" aria-hidden="true"></i>USER PROFILE
            </h1>
            	<div  class="log-time-box">
            	<span class="margin-right-40" ng-show=i >Login time:{{loginTime}}</span>
            	<span class="margin-right-40" ng-show=j>Previous Logout time:{{logOutTime}}</span>
            	<span ng-show=k>IPAddress:{{ipAddress}}</span> </div>
         </div>
          
      </div>
   </section>
   <div  class="col-lg-12 bg-white margin-top-10 padding-top-10">
      <form ng-submit="form.submit(myForm)" name="myForm" novalidate>
         <div class="col-md-4 alert-box">
            <span id="saveMsg"></span>
         </div>
         <div class="col-lg-12 no-padding">
            <div class="col-lg-4">
               <div flow-init="{singleFile:true}" flow-name="obj.flow"
                  flow-files-added="processFiles($files)"
                  flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                  <div class="user-image">
                     <div class="thumbnail">
                        <img src="assets/images/default-user.png" alt=""
                           ng-if="!obj.flow.files.length&&noImage"> 
                           <img
                           ng-src=" data:image/jpeg;base64,{{userInfo.pic}}" alt=""
                           ng-if="!obj.flow.files.length && !noImage">
                            <img
                           flow-img="obj.flow.files[0]" ng-if="obj.flow.files.length">
                     </div>
                     <div class="user-image-buttons" ng-if="obj.flow.files.length">
                        <button flow-btn type="file">
                        <i class="fa fa-pencil"></i>
                        </button>
                        <span class="btn btn-danger" ng-click="obj.flow.cancel()">
                        <i class="fa fa-times"></i>
                        </span>
                     </div>
                     <div class="user-image-buttons" ng-if="!obj.flow.files.length">
                        <span class="btn btn-primary" flow-btn><i
                           class="fa fa-pencil"></i></span> <span class="btn btn-danger"
                           ng-if="!noImage" ng-click="removeImage()"><i
                           class="fa fa-times"></i></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <table class="table">
                  <thead>
                     <tr>
                        <th colspan="3">General Information</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>Designation</td>
                        <td><input ng-model="userInfo.designation" type="text" class="form-control " readonly="true" autocomplete="off" /></td>
                     </tr>
                     <tr>
                        <td>Company Name</td>
                        <td><input ng-model="userInfo.tenantDto.tenantCode" type="text" class="form-control " readonly="true" autocomplete="off" /></td>
                     </tr>
                     
                     
                     <tr class="form-group" ng-class="{'has-error':myForm.addressLine1.$dirty && myForm.addressLine1.$invalid, 'has-success':myForm.addressLine1.$valid}">
                        <td>Address Line1<span class="symbol required"></span></td>
                        <td>	<input type="text"  class="form-control" name="addressLine1" id="addressLine1"  ng-model="userInfo.addressLine1" required>
                           <span
                              class="error text-small block" ng-if="myForm.addressLine1.$dirty && myForm.addressLine1.$invalid">
                           Address Line 1 is mandatory</span>
                        </td>
                     </tr>
                     <tr  class="form-group" ng-class="{'has-error':myForm.addressLine2.$dirty && myForm.addressLine2.$invalid, 'has-success':myForm.addressLine2.$valid}">
                        <td>Address Line2</td>
                        <td>
                           <input type="text"  class="form-control" name="addressLine2" ng-model="userInfo.addressLine2" id="addressLine2">
                        </td>
                     </tr>
                     <tr class="form-group" ng-class="{'has-error':myForm.city.$dirty && myForm.city.$invalid, 'has-success':myForm.city.$valid}">
                        <td>City</td>
                        <td><input class="form-control"  type="text" name="city" ng-model="userInfo.city">
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="col-lg-12 no-padding">
            <div class="col-sm-5">
               <table class="table table-condensed">
                  <thead>
                     <tr>
                        <th colspan="3">Contact Information</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="form-group" ng-class="{'has-error':myForm.userName.$dirty && myForm.userName.$invalid, 'has-success':myForm.userName.$valid}">
                        <td>User Name <span class="symbol required"></span></td>
                        <td>
                           <input type="text"  class="form-control"  name="userName" id="userName" ng-model="userInfo.userName" required>
                           <span
                              class="error text-small block"
                              ng-if="myForm.userName.$dirty && myForm.userName.$invalid">
                           User Name is mandatory</span>
                        </td>
                     </tr>
                     <tr>
                        <td>User Login Id</td>
                        <td>
                           <input type="text"  class="form-control" name="userLoginId" id="userLoginId" ng-readonly="true"  ng-model="userInfo.userLoginId">
                        </td>
                     </tr>
                     <tr class="form-group" ng-class="{'has-error':myForm.emailId.$dirty && myForm.emailId.$invalid, 'has-success':myForm.emailId.$valid}">
                        <td>Email Id <span class="symbol required"></span></td>
                        <td><input type="email"  class="form-control" name="emailId"  id="emailId" ng-model="userInfo.emailId" required>
                           <span class="error text-small block" ng-if="myForm.emailId.$dirty && myForm.emailId.$invalid">
                           Email Address is mandatory</span>
                        </td>
                     </tr>
                     <tr class="form-group"  ng-class="{'has-error':myForm.mobile.$dirty && myForm.mobile.$invalid, 'has-success':myForm.mobile.$valid}">
                        <td>Phone Number</td>
                        <td>	<input type="text" class="form-control" name="mobile" ng-model="userInfo.mobile"  ng-pattern="/^[0-9]{10,12}$/" >
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-sm-5">
               <table class="table">
                  <thead>
                     <tr>
                        <th colspan="3">Additional Information</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="form-group" ng-class="{'has-error':myForm.stateId.$dirty && myForm.stateId.$invalid, 'has-success':myForm.stateId.$valid}">
                        <td>State <span class="symbol required"></span></td>
                        <td>
                           <select ng-model="userInfo.stateId" class="form-control"
                              id="stateId" name="stateId"
                              ng-class="{ 'has-error' : myForm.stateId.$invalid && (myForm.$submitted  || myForm.stateId.$touched ) }"
                              required-notification="State is mandatory" required>
                              <option value="" ng-model="userInfo.stateId">--Please Select--</option>
                              <option ng-repeat="pos in states" ng-value="{{pos.stateId}}">{{pos.stateName}}
                              </option>
                           </select>
                           <span class="error text-small block"
                              ng-if="myForm.stateId.$dirty && myForm.stateId.$invalid">State
                           is mandatory</span>
                        </td>
                     </tr>
                     <tr class="form-group" ng-class="{'has-error':myForm.pinCode.$dirty && myForm.pinCode.$invalid, 'has-success':myForm.pinCode.$valid}">
                        <td>Zipcode<span class="symbol required"></span></td>
                        <td><input class="form-control"  type="text" name="pinCode"  id="pinCode" ng-model="userInfo.pinCode" required  maxlength="6" >
                           <span
                              class="error text-small block"
                              ng-if="myForm.pinCode.$dirty && myForm.pinCode.$invalid">
                           Zipcode is mandatory</span>
                        </td>
                     </tr>
                     <tr class="form-group" ng-class="{'has-error':myForm.countryId.$dirty && myForm.countryId.$invalid, 'has-success':myForm.countryId.$valid}">
                        <td>Country<span class="symbol required"></span></td>
                        <td>
                           <select ng-model="userInfo.countryId" class="form-control"
                              id="countryId" name="countryId" required>
                              <option value="" >--Please Select--</option>
                              <option ng-repeat="country in countries"
                                 ng-value="{{country.countryId}}">{{country.countryName}}
                              </option>
                           </select>
                           <span class="error text-small block"
                              ng-if="myForm.countryId.$dirty && myForm.countryId.$invalid">Country
                           is mandatory</span>
                        </td>
                     </tr>
                     <tr>
                        <td>Role</td>
                        <td><input class="form-control"  type="text" name="roleName" value={{userInfo.roleMasterDto.roleName}}  ng-readonly="true"></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="col-md-12">
            <div class="form-group" align="center">
               <button type="submit" id="submit"   class="btn btn-primary btn-sm" ng-click="submitted=true;">Update Profile</button>
            </div>
         </div>
      </form>
   </div>
</div>