<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>projectd</display-name>

	<!-- CREATE TABLE Departments ( Department varchar(255) NOT NULL PRIMARY 
		KEY ); CREATE TABLE Employees ( EmpID int NOT NULL PRIMARY KEY, EmpName varchar(255) 
		NOT NULL, Password varchar(255) NOT NULL, Department varchar(255) FOREIGN 
		KEY REFERENCES Departments(Department), Salary int ); -->
	<welcome-file-list>
		<welcome-file>LandingForm.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>

	<context-param>
		<param-name>dbHost</param-name>
		<param-value>192.168.1.189</param-value>
	</context-param>

	<context-param>
		<param-name>dbport</param-name>
		<param-value>1523</param-value>
	</context-param>

	<context-param>
		<param-name>dbUid</param-name>
		<param-value>apps</param-value>
	</context-param>

	<context-param>
		<param-name>dbpassword</param-name>
		<param-value>apps</param-value>
	</context-param>

	<context-param>
		<param-name>dbsid</param-name>
		<param-value>sailodba</param-value>
	</context-param>

	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.demo.project.RegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>all</servlet-name>
		<servlet-class>com.test.four.AllServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>all</servlet-name>
		<url-pattern>/all</url-pattern>
	</servlet-mapping>
</web-app>