<!-- start: PAGE TITLE -->
<div>
	<section id="page-title">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mainTitle">Email Configuration</h1>
			</div>
		</div>
	</section>
	<!-- end: PAGE TITLE -->
	<div class="container-fluid container-fullw form-box">
		<div class="row">
			<div class="col-sm-12" ng-controller="emailConfigCtrl as emailCtrl">
				<div class="inner-page-box">
					<div class="row">
						<form name="Form" novalidate ng-submit="form.submit(Form)">
							<div class="col-md-12 margin-bottom-10 sales_heading no-padding">
								<div class="col-md-4 alert-box">
									<span id="saveMsg"></span>
								</div>
								<div class="col-md-6 text-right pull-right">
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
									</button>
									<button type="reset" ng-click="clear()" class="btn btn-primary">
										<i class="fa fa-eraser" aria-hidden="true"></i> Clear
									</button>
								</div>
							</div>

							<div class="col-md-4 form-group no-padding"
								ng-class="{'has-error':Form.host.$dirty && Form.host.$invalid, 'has-success':Form.host.$valid}">
								<label class="col-sm-5 control-label">Mail Host <span
										class="symbol required"></span></label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="SMTPHost" ng-model="data.host"
										name="host" required> <span class="error text-small block"
										ng-if="Form.host.$dirty && Form.host.$invalid">Mail Host is mandatory</span>
								</div>
							</div>

							<div class="col-md-4 form-group no-padding"
								ng-class="{'has-error':Form.userName.$dirty && Form.userName.$invalid, 'has-success':Form.userName.$valid}">
								<label class="col-sm-5 control-label">User Name <span
										class="symbol required"></span></label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="userName" ng-model="data.userName"
										name="userName" required> <span class="error text-small block"
										ng-if="Form.userName.$dirty && Form.userName.$invalid">User
										Name is mandatory</span>
								</div>
							</div>

							<div class="col-md-4 form-group no-padding"
								ng-class="{'has-error':Form.password.$dirty && Form.password.$invalid, 'has-success':Form.password.$valid}">
								<label class="col-sm-5 control-label">Password <span
										class="symbol required"></span></label>
								<div class="col-sm-7">
									<input type="password" class="form-control" id="password" ng-model="data.password"
										name="password" required> <span class="error text-small block"
										ng-if="Form.password.$dirty && Form.password.$invalid">Passsword
										is mandatory</span>
								</div>
							</div>

							<div class="col-md-4 form-group no-padding"
								ng-class="{'has-error':Form.port.$dirty && Form.port.$invalid, 'has-success':Form.port.$valid}">
								<label class="col-sm-5 control-label">Mail Port <span
										class="symbol required"></span></label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="SMTPPort" ng-model="data.port"
										name="port" required> <span class="error text-small block"
										ng-if="Form.port.$dirty && Form.port.$invalid">Mail Port is mandatory</span>
								</div>
							</div>

							<div class="col-md-4 form-group no-padding"
								ng-class="{'has-error':Form.protocol.$dirty && Form.protocol.$invalid, 'has-success':Form.protocol.$valid}">
								<label class="col-sm-5 control-label">Mail Protocol<span
										class="symbol required"></span></label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="SMTPProtocol" ng-model="data.protocol"
										name="protocol" required> <span class="error text-small block"
										ng-if="Form.protocol.$dirty && Form.protocol.$invalid">Mail Protocol is
										mandatory</span>
								</div>
							</div>

							<div class="col-md-4 form-group no-padding"
								ng-class="{'has-error':Form.fromMail.$dirty && Form.fromMail.$invalid, 'has-success':Form.fromMail.$valid}">
								<label class="col-sm-5 control-label">From Mail <span
										class="symbol required"></span></label>
								<div class="col-sm-7">
									<input type="email" class="form-control" id="fromMail" ng-model="data.fromMail"
										name="fromMail" required> <span class="error text-small block"
										ng-if="Form.fromMail.$dirty && Form.fromMail.$invalid">From Mail is
										mandatory</span>
								</div>
							</div>

							<div class="col-md-4 form-group no-padding"
								ng-class="{'has-error':Form.vendorId.$dirty && Form.vendorId.$invalid, 'has-success':Form.vendorId.$valid}">
								<label class="col-sm-5 control-label" for="vendorId">Select Company <span
										class="symbol required"></span>
								</label>
								<div class="col-sm-7">
									<select ng-model="data.tenantId" class="form-control" id="vendorId" name="vendorId"
										ng-class="{ 'has-error' : myForm.vendorId.$invalid && (myForm.$submitted  || myForm.vendorId.$touched ) }"
										required-notification="Company selection is mandatory" required>
										<option value="">--Please Select--</option>
										<option ng-repeat="customer in customers" ng-value="{{customer.tenantId}}">
											{{customer.tenantName}}</option>
									</select> <span class="error text-small block"
										ng-if="Form.vendorId.$dirty && Form.vendorId.$invalid">Company selection is
										mandatory</span>
								</div>
							</div>
						</form>
						<table datatable="" dt-options="emailCtrl.dtOptions" dt-columns="emailCtrl.dtColumns"
							dt-instance="dtInstance" class="table table-striped table-bordered">
						</table>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>