<div ng-controller="managePermissionsCtrl  as permissionMasterCtrl">
	<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle">Manage Permissions</h1>
		</div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<div class="container-fluid container-fullw form-box">
	<div class="row">
		<div class="col-sm-12">
			<div class="inner-page-box">
			<form name="partners" ng-submit="submitData()">
				<div id="hidestateform">
					<div class="col-md-12 margin-bottom-10 sales_heading no-padding">
					<div class="col-md-4 alert-box">
					<span id="saveMsg"></span>
				</div> 
				<div class="col-md-6 text-right pull-right no-padding">
						<button type="submit" ng-click="submitted=true"
							class="btn btn-primary">
							<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
						</button>
						<button type="reset" ng-click="clear()" class="btn btn-primary"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</button>
						</div>
						</div>
					<div class="row">	
					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Permission Name</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="permissionName" ng-model="data.permissionName">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Permission Desc</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="permissionDesc" ng-model="data.permissionDesc">
						</div>
					</div>
					</div>
				</div>
				
			</form>
			<table datatable="" dt-options="permissionMasterCtrl.dtOptions"  dt-columns="permissionMasterCtrl.dtColumns"
                     dt-instance="dtInstance" class ="table table-striped table-bordered">
                     </table>

</div>
	</div>
	</div>
</div>
</div>