<div ng-controller="manageBusinessPartnerCtrl as PartnersCtrl">
	<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle">Manage Business Parner</h1>
		</div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<div class="container-fluid container-fullw form-box">
	<div class="row">
		<div class="col-sm-12">
			<div class="inner-page-box">
			<form name="partners" ng-submit="submitData()">
				<div id="hidestateform">
					<div class="col-md-12 margin-bottom-10 sales_heading no-padding">
					<div class="col-md-4 alert-box">
					<span id="saveMsg"></span>
				</div> 
				<div class="col-md-6 text-right pull-right no-padding">
						<button type="submit" ng-click="submitted=true"
							class="btn btn-primary">
							<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
						</button>
						<button type="reset" ng-click="clear()" class="btn btn-primary"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</button>
						</div>
						</div>
					<div class="row">	
					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Partners Code</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="bpCode" ng-model="data.bpCode">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Partner Name</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="bpName" ng-model="data.bpName">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Partner Registration ID</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="bpRegisteredId" ng-model="data.bpRegisteredId">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Address</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="bpAddress" ng-model="data.bpAddress">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Pincode</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="bpPincode" ng-model="data.bpPincode">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">landLine</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="landLine" ng-model="data.landLine">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">fax</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="fax" ng-model="data.fax">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">StateId</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="bpStateId" ng-model="data.bpStateId">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">CountryId</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="bpCountryId" ng-model="data.bpCountryId">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Phone No</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="bpPhoneNo" ng-model="data.bpPhoneNo">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Email Id</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="bpEmailId" ng-model="data.bpEmailId">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Ship To Name</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="shipToName" ng-model="data.shipToName">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Ship To Redistered ID</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="shipToRedisteredID" ng-model="data.shipToRedisteredID">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Ship To State Id</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="shipToStateId" ng-model="data.shipToStateId">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Ship To Country Id</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="shipToCountryId" ng-model="data.shipToCountryId">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Ship To Address</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="shipToAddress" ng-model="data.shipToAddress">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Ship To Phone No</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="shipToPhoneNo" ng-model="data.shipToPhoneNo">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Ship To Email Id</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="shipToEmailId" ng-model="data.shipToEmailId">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Ship To Pincode</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="shipToPincode" ng-model="data.shipToPincode">
						</div>
					</div>

					<div class="col-md-4 form-group no-padding">
						<label class="col-sm-5 control-label" for="">Tenant Id</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name ="tenantId" ng-model="data.tenantId">
						</div>
					</div>
					</div>
				</div>
				
			</form>
			<table datatable="" dt-options="PartnersCtrl.dtOptions"  dt-columns="PartnersCtrl.dtColumns"
                     dt-instance="dtInstance" class ="table table-striped table-bordered">
                     </table>
	</div>

</div>	
		</div>
	</div>
</div>
</div>