<script>
	$(function() {
		$('#invoiceDate').datepicker({
			format : 'dd/mm/yyyy',
			"setDate" : new Date(),
			autoclose : true,
			todayHighlight : true,
		});
		$('#deliveryDate').datepicker({
			format : 'dd/mm/yyyy',
			"setDate" : new Date(),
			autoclose : true,
			todayHighlight : true,
		});
		$('#serviceDate').datepicker({
			format : 'dd/mm/yyyy',
			"setDate" : new Date(),
			autoclose : true,
			todayHighlight : true,
		});

		$(document).on('click', '#close-preview', function() {
			$('.image-preview').popover('hide');
			// Hover befor close the preview
			$('.image-preview').hover(function() {
				$('.image-preview').popover('show');
			}, function() {
				$('.image-preview').popover('hide');
			});
		});

		// Create the close button
		var closebtn = $('<button/>', {
			type : "button",
			text : 'x',
			id : 'close-preview',
			style : 'font-size: initial;',
		});
		closebtn.attr("class", "close pull-right");
		// Set the popover default content
		$('.image-preview').popover({
			trigger : 'manual',
			html : true,
			title : "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
			content : "There's no image",
			placement : 'bottom'
		});
		// Clear event
		$('.image-preview-clear').click(function() {
			$('.image-preview').attr("data-content", "").popover('hide');
			$('.image-preview-filename').val("");
			$('.image-preview-clear').hide();
			$('.image-preview-input input:file').val("");
			$(".image-preview-input-title").text("Browse");
		});
		// Create the preview image
		$(".image-preview-input input:file").change(function() {
			var file = this.files[0];
			var reader = new FileReader();
			reader.readAsDataURL(file);
		});
	});

	//compare function here
	$(".expansion-btn")
			.click(
					function() {
						classes = this.className;
						var divNumber = classes.slice(-1);
						var toGetId = "#div-" + divNumber;
						if ($(toGetId).hasClass("expanded-div")) {
							$(".normal-div").removeClass(
									"compressed-div expanded-div");
							$("#div-2").addClass("pdf-box");
							$("#div-1").find(".to-md-6")
									.removeClass("col-md-6").addClass(
											"col-md-4");
							$(".pdf-file-name-icon").find(".fa").addClass(
									"fa-chevron-circle-left").removeClass(
									"fa-chevron-circle-right");
							$(".pdf-image").addClass("compare-pdf-box-close")
									.removeClass("compare-pdf-box-open");
							$(".file-name-title").removeClass("show-file-name")
									.addClass("remove-file-name");
							$("#app").removeClass("app-sidebar-closed");
							$(".table-responsive09").removeClass(
									"colaps-table-div")
						} else {
							$(".normal-div").removeClass(
									"compressed-div expanded-div pdf-box")
									.addClass("compressed-div");
							$(toGetId).removeClass("compressed-div").addClass(
									"expanded-div");
							$("#div-1").find(".to-md-6")
									.removeClass("col-md-4").addClass(
											"col-md-6");
							$("#app").addClass("app-sidebar-closed");
							$(".form-box").find(".collapse").removeClass("in");
							$(".pdf-file-name-icon").find(".fa").removeClass(
									"fa-chevron-circle-left").addClass(
									"fa-chevron-circle-right");
							$(".pdf-image")
									.removeClass("compare-pdf-box-close")
									.addClass("compare-pdf-box-open");
							$(".file-name-title").addClass("show-file-name")
									.removeClass("remove-file-name");
							$(".table-responsive09").addClass(
									"colaps-table-div")

						}
					});
</script>
<style>
.scroll-lines .table-responsive09 {
	overflow-y: scroll;
	max-height: 200px;
	width: 1060px;
}

.scroll-lines .table-responsive09.colaps-table-div {
	width: 100%;
}
.modal-content {
    background: #fff !important;
    box-shadow: none;
}
.modal-dialog.cust-modal {
    width: 60%;
}
.lines-box .table-responsive09 .table {
	width: 100%;
	max-width: 100%;
}
.highlightedTexts.form-control {
    border: 1px solid #c82e29 !important;
}
.audit-log-font {
    font-size: 16px;
}

</style>
<div class="container-fluid container-fullw generate-page"
	ng-controller="CustomerCostInvoiceCtrl">

	<form name="Form" novalidate ng-submit="form.submit(Form)">

		<section id="page-title">
			<div class="row">
				<div class="col-sm-4">
					<h1 class="mainTitle"
						ng-hide="data.headerId == null ? false : true">Create Cost
						Invoice</h1>
						
				</div>

				<div class="col-sm-8 text-right">
					<a href="javascript:;" data-toggle="collapse"
						data-target="#uploadFile">
						<button type="button" class="btn btn-primary">
							<i class="fa fa-upload" aria-hidden="true"></i> Upload
						</button>
					</a>
					<button type="submit" class="btn btn-primary"
						ng-click="submitted=true">
						<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
					</button>
					<button type="button" class="btn btn-primary"
						ng-click="sendToErp()"
						ng-disabled="data.headerId == null ? true : false"
						ng-show="tenantType=='CUSTOMER' ? true  : false">
						<i class="fa fa-arrow-right" aria-hidden="true"></i> Create Cost
						Invoice
					</button>
					<button type="button" class="btn btn-primary" ng-click="clear()">
						<i class="fa fa-eraser" aria-hidden="true"></i> Clear
					</button>
					<a ui-sref="app.costInvoiceQueue" class="btn btn-primary"><i
						class="fa fa-arrow-left"></i> Back</a>
				</div>
			</div>
		</section>
		<!-- end: PAGE TITLE -->


		<div class="row form-box normal-div" id="div-1">
			<div class="col-sm-12 no-padding">
				<div class="inner-page-box generate-page-main-box">
					<div class="col-sm-12 panel-collapse collapse" id="uploadFile">
						<fieldset>
							<legend> Upload Images </legend>
							<div class="form-group col-md-6 margin-top-10">
								<label class="col-sm-3 control-label margin-top-5">
									Upload Image </label>
								<div class="col-sm-9">
									<div class="input-group image-preview">
										<span class="input-group-addon"><i
											class="fa fa-file-image-o" aria-hidden="true"></i></span> <input
											type="text" class="form-control image-preview-filename"
											disabled="disabled"> <span class="input-group-btn">
											<button type="button"
												class="btn btn-default image-preview-clear"
												style="display: none;">
												<span class="glyphicon glyphicon-remove"></span> Clear
											</button>
											<div class="btn btn-primary image-preview-input">
												<span class="glyphicon glyphicon-search"></span> <span
													class="image-preview-input-title">Browse</span> <input
													type="file" file-model="myFile" id="ocrFile"
													onchange="angular.element(this).scope().uploadImage(this)"
													accept="image/png, image/jpeg, image/gif, .pdf"
													name="input-file-preview" />
											</div>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group col-md-2 margin-top-10">
								<button type="button" ng-click="uploadOCR()"
									class="btn btn-primary">
									<i class="fa fa-arrow-right"></i> Submit
								</button>
							</div>
						</fieldset>
					</div>


					<div class="col-md-12">
						<span id="saveMsg"></span>
					</div>
					<form role="form" class="form-horizontal">

						<div class="row hyva_taxer_details_box"
							ng-hide="data.headerId == null ? true : false">
							<div class="col-sm-5 text-left">
								<div class="col-sm-12 text-bold text-left">
									Invoice Status : <span id="invoiceStatus"></span>
									<button type="button" class="btn btn-primary margin-left-10"
										ng-click="refreshErp()"
										ng-hide="data.workFlowStatus == 3 || data.workFlowStatus == 5 || data.workFlowStatus == 6 ? false : true">
										<i class="fa fa-refresh" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
						<br>
						<div class="col-md-12 scroll-headers no-padding">
							<fieldset>
								<!-- <legend> Vendor Details </legend> -->

								<div class="row hyva_taxer_details_box">

									
								</div>
								<div class="col-md-4 to-md-6">
									<div class="form-group"
										ng-class="{'has-error':Form.invoiceNo.$dirty && Form.invoiceNo.$invalid, 'has-success':Form.invoiceNo.$valid}">
										<label class="col-sm-5 control-label" for="invoiceNo">
											Invoice Number :<!-- <span class="symbol required"></span> -->
										</label>
										<div class="col-sm-7">
											<input type="text" id="invoiceNo" name="invoiceNo"
												ng-model="data.invoiceNo" class="form-control underline"
												> 
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
									<div class="col-md-4 to-md-6">
										<div class="form-group"
											ng-class="{'has-error':Form.invoiceDate.$dirty && Form.invoiceDate.$invalid, 'has-success':Form.invoiceDate.$valid}">
											<label class="col-sm-5 control-label" for="invoiceDate">
												Invoice Date <!-- <span class="symbol required"></span> -->
											</label>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" id="invoiceDate" name="invoiceDate"
														ng-model="data.invoiceDate" class="form-control underline"
														 autocomplete="off" /> <span
														class="input-group-btn">
														<button type="button" class="btn btn-primary">
															<i class="fa fa-calendar"></i>
														</button>
													</span>
												</div>
												<!-- <span class="error text-small block"
													ng-if="Form.invoiceDate.$dirty && Form.invoiceDate.$invalid">Invoice
													Date is mandatory</span> -->
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<!-- <div class="col-md-4 to-md-6">
										<div class="form-group"
											ng-class="{'has-error':Form.invoiceValue.$dirty && Form.invoiceValue.$invalid, 'has-success':Form.invoiceValue.$valid}">
											<label class="col-sm-5 control-label" for="invoiceValue">
												Invoice Value 
											</label>
											
											<div class="clearfix"></div>
										</div>
									</div> -->
									

									<div class="col-md-4 to-md-6">
										<div class="form-group">
											<label class="col-sm-5 control-label" for="invoiceAmountGross">
												Gross Amount : <!-- <span class="symbol required"></span> -->
											</label>
											<div class="col-sm-7">
												<input type="text" id="invoiceAmountGross" name="invoiceAmountGross"
													ng-model="data.invoiceAmountGross" ng-change="updateAmount()"
													ng-pattern="/^\d+(?:\.\d{1,5})?$/"
													class="form-control underline" > 
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
		  
									<div class="col-md-4 to-md-6">
									  <div class="form-group">
										  <label class="col-sm-5 control-label" for="invoiceAmountGross">
											  Net Amount : <!-- <span class="symbol required"></span> -->
										  </label>
										  <div class="col-sm-7">
											  <input type="text" id="invoiceAmountNt" name="invoiceAmountNt"
												  ng-model="data.invoiceAmountNt" 
												  class="form-control underline" > 
										  </div>
										  <div class="clearfix"></div>
									  </div>
								  </div>
								  <div class="col-md-4 to-md-6">
									<div class="form-group">
										<div class="col-sm-7">
											<input type="hidden" id="transactionType" name="transactionType"
												ng-model="data.transactionType" ng-init="data.transactionType='NonPO'"
												class="form-control underline" > 
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
									
							
							</fieldset>
							<br>
							<div class="sales_error_box">
								<span id="saveMsg"></span>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">
								<fieldset class="margin-top-15">
									<legend>
										Buyer Details 
									</legend>
		
									<div class="col-md-12 no-padding">
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="buyerName">
													Name :</label>
												<div class="col-sm-7">
													<input type="text" ng-model="data.buyerName" id="buyerName"
														class="form-control underline">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="buyerAddress">
													Address :
												</label>
												<div class="col-sm-7">
												   
													<textarea type="text" id="companyAddress"
														name="buyerAddress" ng-model="data.buyerAddress"
														class="form-control underline" 
														/>
													 </div>
												<div class="clearfix"></div>
											</div>
										</div>							 
									</div>
								</fieldset>
								<!-- Supplier details  -->
								  <fieldset class="margin-top-15">
									  <legend>
										  Suplier Details 
									  </legend>
		  
									  <div class="col-md-12 no-padding">
										  <div class="col-md-4 to-md-6">
											  <div class="form-group">
												  <label class="col-sm-5 control-label" for="supplierName">
													  Name :</label>
												  <div class="col-sm-7">
													  <input type="text" ng-model="data.supplierName" id="supplierName"
														  class="form-control underline">
												  </div>
												  <div class="clearfix"></div>
											  </div>
										  </div>
										  <div class="col-md-4 to-md-6">
											  <div class="form-group">
												  <label class="col-sm-5 control-label" for="supplierAddress">
													  Address :
												  </label>
												<div class="col-sm-7">
													 
													  <textarea type="text" id="supplierAddress"
														  name="supplierAddress" ng-model="data.supplierAddress"
														  class="form-control underline" "
														  />
													   </div>
												<div class="clearfix"></div>
											  </div>
										  </div>
										  <div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="supplierIdentifier">
												  Identifier :
												</label>
											  <div class="col-sm-7">
												   
													<text type="text" id="supplierIdentifier"
														name="supplierIdentifier" ng-model="data.supplierIdentifier"
														class="form-control underline" "
														/>
													 </div>
											  <div class="clearfix"></div>
											</div>
										</div>							 
									  </div>
								  </fieldset>

								
								  <fieldset class="margin-top-15">
									<legend>
										General Details
									</legend>
		
									<div class="col-md-12 no-padding">
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="deliveryTerms">
													Account Number : </label>
												<div class="col-sm-7">
													<input type="text" ng-model="data.accountNo" id="accountNo"
														class="form-control underline">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
	  
										<div class="col-md-4 to-md-6">
										  <div class="form-group">
											  <label class="col-sm-5 control-label" for="vatId">
												  VAT ID : </label>
											  <div class="col-sm-7">
												  <input type="text" ng-model="data.vatId" id="vatId"
													  class="form-control underline">
											  </div>
											  <div class="clearfix"></div>
										  </div>
									  </div>
										
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="ibanNo">
													IBan No :</label>
												<div class="col-sm-7">
													<input ng-model="data.iban" id="ibanNo" class="form-control underline">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="col-md-4 to-md-6">
											<div class="form-group"
												ng-class="{'has-error':Form.serviceDate.$dirty && Form.serviceDate.$invalid, 'has-success':Form.invoiceDate.$valid}">
												<label class="col-sm-5 control-label" for="serviceDate">
													Service Date <!-- <span class="symbol required"></span> -->
												</label>
												<div class="col-sm-7">
													<div class="input-group">
														<input type="text" id="serviceDate" name="serviceDate"
															ng-model="data.serviceDate" class="form-control underline"
															 autocomplete="off" /> <span
															class="input-group-btn">
															<button type="button" class="btn btn-primary">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="col-md-4 to-md-6">
										  <div class="form-group">
											  <label class="col-sm-5 control-label" for="deliveryDate">
												  Delivery Date :<!-- <span class="symbol required"></span> -->
											  </label>
											  <div class="col-sm-7">
												  <div class="input-group">
													  <input type="text" id="deliveryDate" name="deliveryDate"
														  ng-model="data.deliveryDate" class="form-control underline"
														   autocomplete="off" /> 
														  <span class="input-group-btn">
														  <button type="button" class="btn btn-primary">
															  <i class="fa fa-calendar"></i>
														  </button>
													  </span>
												  </div>
												</div>
											  <div class="clearfix"></div>
										  </div>
									  </div>
									</div>
								</fieldset>
								
							</div>
						</div>
				</div>
				<div class="col-md-12 scroll-lines no-padding">
					<div class="row">
						<div class="col-md-12">
							<fieldset>
								<legend>
									Item Details
									<button type="button" class="btn add_new1" ng-click="addLine()">
										<i class="fa fa-plus" aria-hidden="true"></i> Add Line
									</button>
								</legend>

								<div class="col-md-12 eway-bill-box lines-box padding-5">
									<div class="table-responsive09">
										<table class="table table-bordered" id="fixTable">
											<thead id="header">
												<tr>
													<th colspan="1" rowspan="2">S.No</th>
													<th colspan="1" rowspan="2">Item Code</th>
													<th colspan="1" rowspan="2">Item Description</th>
													<th colspan="1" rowspan="2">vehicle PlateNumber</th>
													<th colspan="1" rowspan="2">Qty </th>
													<th colspan="1" rowspan="2">UQC </th>
													<th colspan="1" rowspan="2">Item Rate</th>
													<th colspan="1" rowspan="2">Currency</th>
													<th colspan="1" rowspan="2">costAccountMgr</th>
													<th colspan="1" rowspan="2">costCenterCode</th>
													<th colspan="1" rowspan="2">Tax Rate </th> 
													<th colspan="1" rowspan="2">Tax Amount</th>
													<th colspan="1" rowspan="2">lineValue</th>
													<th colspan="1" rowspan="2">Actions</th>
												</tr>
											</thead>
											<tbody id="body">
												<tr ng-repeat="ctrl in data.items track by $index">
													<input type="hidden" ng-model="ctrl.lineId" value="">
													<td>{{ $index + 1 | number }}</td>
													<td>
														<div class="input"
															>
															<input type="text" id="itemCode{{$index}}"
																name="itemCode{{$index}}" ng-model="ctrl.itemCode"
																class="form-control" 
																index="{{$index}}"  >
														</div>
													</td>
													<td>
														<div class="input"
															>
															<input type="text" id="itemDesc{{$index}}"
																name="itemDesc{{$index}}" ng-model="ctrl.itemDesc"
																class="form-control" 
																index="{{$index}}"  >
														</div>
													</td>
													<td>
														<div class="input"
															>
															<input type="text" id="vehiclePlateNo{{$index}}"
																name="vehiclePlateNo{{$index}}" ng-model="ctrl.vehiclePlateNo"
																class="form-control" 
																index="{{$index}}"  >
														</div>
													</td>
													<td>
														<div class="input" >
															<input type="text" id="qty{{$index}}"
																name="qty{{$index}}" ng-model="ctrl.qty"
																class="form-control" 
																index="{{$index}}"  >
														</div>
													</td>
													
													
													<td>
														<div class="input"
															ng-class="{'has-error':Form.uqc{{$index}}.$dirty && Form.uqc{{$index}}.$invalid, 'has-success':Form.uqc{{$index}}.$valid}">
															<select ng-model="ctrl.uqc"
																ng-options="uqcList.uqcCode as uqcList.uqcCode for uqcList in uqcList"
																class="form-control" id="uqc{{$index}}"
																name="uqc{{$index}}" 
																ng-class="{red:Form.uqc{{$index}}.$invalid && (Form.uqc{{$index}}.$touched || Form.$submitted)}">
																<option value="" disabled selected>--Select
																	UQC--</option>
															</select> 
														</div>
													</td>
													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.itemRate" ng-change="updateAmount()"
																class="form-control" pattern="^[0-9,]+(\.[0-9]{1,5})?$"
																id="itemRate{{$index}}" name="itemRate{{$index}}"
																
																ng-class="{red:Form.itemRate{{$index}}.$invalid && (Form.itemRate{{$index}}.$touched || Form.$submitted)}">
																<!--<span
																ng-class="{tooltip11:Form.itemRate{{$index}}.$invalid && (Form.itemRate{{$index}}.$touched || Form.$submitted) && Form.itemRate{{$index}}.$error.pattern,tooltip12:Form.productRate{{$index}}.$valid || Form.itemRate{{$index}}.$invalid}">Invalid
																data format</span> -->
														</div>
													</td>
													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.currency"
																class="form-control">
														</div>
													</td>
													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.costAccountMgr"
																class="form-control">
														</div>
													</td>
													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.costCenterCode"
																class="form-control">
														</div>
													</td>
													<td >
														<div class="input">
															<input type="text" ng-model="ctrl.taxRate" ng-change="updateAmount()"
																class="form-control">
														</div>
														<!--<div class="input" >
														
															<select id="taxRate" ng-model="ctrl.taxRate" ng-change="updateAmount()"
																class="form-control" name="rate{{$index}}"
																ng-class="{red:Form.rate{{$index}}.$invalid && (Form.rate{{$index}}.$touched || Form.$submitted)}"
																>
																<option ng-value="0">0</option>
																<option ng-value="5">5</option>
																<option ng-value="12">12</option>
																<option ng-value="18">18</option>
																<option ng-value="28">28</option>
															</select> <span
																ng-class="{tooltip11:Form.rate{{$index}}.$invalid && (Form.rate{{$index}}.$touched || Form.$submitted) && Form.rate{{$index}}.$error.required,tooltip12:Form.rate{{$index}}.$valid || Form.rate{{$index}}.$invalid}">Tax
																Rate is mandatory</span>
														</div> -->
													</td>	
													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.taxAmount" ng-change="updateAmount()"
																class="form-control">
														</div>
													</td>
												
													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.lineValue" ng-change="updateAmount()"
																ng-change="calculateInvoivcevalue()"
																class="form-control">
														</div>
													</td>
												
													<td class="text-center"><button type="button"
															class="btn btn-danger btn-xs" title="Delete">
															<i class="fa fa-trash " aria-hidden="true"
																ng-click=deleteLine($index) title="Delete"></i>
														</button>
													</td>
										
									
											</tr>
												
											</tbody>
										</table>
									</div>

								</div>

							</fieldset>
							 <div class="col-sm-12">
			<div class=" col-sm-6">
				<span class="audit-log-font"><b>Created By:</b>{{userName}}</span>
			</div>
			<div class=" col-sm-6">
				<span class="audit-log-font"><b>Created On :</b>{{data.createdOn}}</span>
			</div>
			
			</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
		<button type="button" class="btn btn-primary" ng-click="logShowHide()">Open Log Details <div><i class="fa fa-angle-double-down" aria-hidden="true"></i></div></button>
		</div>    
		
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 log-box" ng-repeat="ctrl in log track by $index" ng-show = "logisVisible">
			<div class="col-sm-12 ">
			<div class=" col-sm-4">
				<span class="audit-log-font"><b>Action : </b> {{ctrl.action}}</span>
			</div>
			<div class=" col-sm-4">
				<span class="audit-log-font"><b>Action Date :</b>{{ctrl.loggedDate}}</span>
			</div>
			<div class=" col-sm-4">
				<span class="audit-log-font"><b>Action By :</b>{{ctrl.userName}}</span>
			</div>
			</div>
			<div class="faield-date-box-data">
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 log-half-box">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5" ng-show="ctrl.oldData">
			<div class="log-head">Old Headers</div>
			<div class="log-content">{{ctrl.oldData}}</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5" ng-show="ctrl.items[1]">
			<div class="log-head">Old Lines</div>
			<div class="log-content" ng-repeat="ctrlItems in ctrl.items[1] track by $index">
					{{ctrlItems}}
			</div>
			</div>			
			</div>			
			
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 log-half-box">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5" ng-show="ctrl.newDate">
			<div class="log-head">New Headers</div>
			<div class="log-content">{{ctrl.newDate}}</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5" ng-show="ctrl.items[0]">
			<div class="log-head">New Lines </div>
			<div class="log-content" ng-repeat="ctrlItems in ctrl.items[0] track by $index">
					{{ctrlItems}}
				</div>
				</div>
			</div>
			</div>
			<div class="clearfix"></div>
			</div>
		</div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<div class="normal-div pdf-box" id="div-2">
			<div class="pdf-file-name">
				<div class="pdf-file-name-icon expansion-btn exp-1"
					ng-click="compareInvoices(data)">
					<i class="fa fa-chevron-circle-left"></i>
				</div>
				<div class="file-name-title remove-file-name"></div>
			</div>
			<div class="pdf-file-box">
				<iframe class="" id="ifmReport"></iframe>
			</div>
		</div>

	</form>
	<div class="modal fade" id="myModel" role="dialog">
    <div class="modal-dialog cust-modal">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        
          <button type="button" class="close" ng-click="clearIgnore()" data-dismiss="modal">&times;</button>
          <div class="col-sm-12">
          <h4 class="modal-title">Dimensions</h4>
          </div>
        </div>
        <div class="modal-body">
         	<div class="row">
         	<div class="col-sm-12">
         	<p >Note : Below Highlighted fields are mandatory for the selected GLAccount</p>
         	</div>
		<div class="col-sm-12 margin-top-10">
			<form name="myForm1" ng-submit="saveDimension()" >

				<div class="">
					<div class="col-md-12 margin-bottom-10 sales_heading">
						<div class="col-md-12 alert-box">
							<span class="saveMsg"></span>
						</div>
					</div>
					<div class="row">
					<div class="col-md-12 no-padding">
					<div class="col-md-6">
					<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" for="roleName" >Department
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="department" name="department" id="1" class="form-control underline"> 
								<span class="error text-small block"
												ng-if="">
												Department is mandatory</span>
							</div>
						</div>
						</div>
							<div class="col-md-6">
					<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" >Warehouse
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="warehouse" name="warehouse"
												id="2"
												class="form-control underline" ng-required="iwWarehouse"> <span
												class="error text-small block"
												ng-if="myForm1.warehouse.$dirty && myForm1.warehouse.$invalid">
												warehouse is mandatory</span>
							</div>
						</div>
						</div>
							<div class="col-md-6">
					<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" >Period
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="period" name="period"
												id="3"
												class="form-control underline" ng-required="isperiod"> <span
												class="error text-small block"
												ng-if="myForm1.period.$dirty && myForm1.period.$invalid">
												Period is mandatory</span>
							</div>
						</div>
						</div>
							<div class="col-md-6">
						<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" for="roleName">Employee
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="employee" name="country"
												id="4"
												class="form-control underline" ng-required="isemployee"> <span
												class="error text-small block"
												ng-if="myForm1.employee.$dirty && myForm1.employee.$invalid">
												Employee is mandatory</span>
							</div>
						</div>
						</div>
									<div class="col-md-6">
						<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" >Cost Center
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="costCenter" name="costCenter"
												id="5"
												class="form-control underline" ng-required="iscostCenter"> <span
												class="error text-small block"
												ng-if="myForm1.costCenter.$dirty && myForm1.costCenter.$invalid">
												costCenter is mandatory</span>
							</div>
						</div>
						</div>
									<div class="col-md-6">
						<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" >Division
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="division" name="division"
												id="6"
												class="form-control underline" ng-required="isdivision"> <span
												class="error text-small block"
												ng-if="myForm1.division.$dirty && myForm1.division.$invalid">
												Division is mandatory</span>
							</div>
						
						</div>
							
							
								
									
							
						</div>
										
										
						
						</div>
					</div>
					<div class="col-md-12 no-padding text-center margin-bottom-10">
						<button type="submit" ng-click="submitted=true"
								class="btn btn-primary">
								<i  aria-hidden="true"></i> Save
				</button>
				          <button type="button" class="btn btn-default" ng-click="clearIgnore()" data-dismiss="modal">Close</button>
				
				</div>
				</div>
			
			</form>
			
		</div>
	</div>
        </div>
      </div>
      
    </div>
  </div> 
	
</div>




</div>