<div ng-controller="manageCustomerCtrl as tenantCtrl">
	<!-- start: PAGE TITLE -->
	<section id="page-title">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mainTitle">Manage Company</h1>
			</div>
		</div>
	</section>
	<!-- end: PAGE TITLE -->
	<div class="container-fluid container-fullw form-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="inner-page-box">
					<div class="row">
						<div class="col-sm-12 no-padding">
							<form name="Form" novalidate ng-submit="form.submit(Form)">
								<div class="" id="hidestateform">
									<div class="col-md-12 margin-bottom-10 sales_heading no-padding">
										<div class="col-md-4 alert-box">
											<span id="saveMsg"></span>
										</div>
										<div class="col-md-6 text-right pull-right">
											<button type="submit" id="submit" class="btn btn-primary">
												<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
											</button>
											<button type="reset" id="reset" ng-click="clear()" class="btn btn-primary">
												<i class="fa fa-eraser" aria-hidden="true"></i> Clear
											</button>
										</div>
									</div>
									<input type="hidden" autocomplete="off" id="id" ng-model="tenant.companyId"
										class="form-control">
									<div class="col-md-4 form-group padding-0"
										ng-class="{'has-error':Form.companyCode.$dirty && Form.companyCode.$invalid, 'has-success':Form.companyCode.$valid}">
										<label class="col-sm-5 control-label" for="companyCode">Company
											Code <span class="symbol required"></span>
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" id="companyCode" required
												autocomplete="off" name="companyCode" ng-model="tenant.companyCode"> <span
												class="error text-small block"
												ng-if="Form.companyCode.$dirty && Form.companyCode.$invalid">Company
												Code is mandatory</span>
										</div>
									</div>
									<div class="col-md-4 form-group padding-0"
										ng-class="{'has-error':Form.companyName.$dirty && Form.companyName.$invalid, 'has-success':Form.companyName.$valid}">
										<label class="col-sm-5 control-label" for="companyName">Company
											Name <span class="symbol required"></span>
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" id="companyName" autocomplete="off"
												required ng-model="tenant.companyName" name="companyName"> <span
												class="error text-small block"
												ng-if="Form.companyName.$dirty && Form.companyName.$invalid">Company
												name is mandatory</span>
										</div>
									</div>

									<div class="col-md-4 form-group padding-0"
										ng-class="{'has-error':Form.registredId.$dirty && Form.registredId.$invalid, 'has-success':Form.registredId.$valid}">
										<label class="col-sm-5 control-label" for="registredId">Registered
											Id <span class="symbol required"></span>
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" name="registredId" id="registredId"
												autocomplete="off" ng-model="tenant.registredId" required> <span
												class="error text-small block"
												ng-if="Form.registredId.$dirty && Form.registredId.$error.required">RegistredId
												is mandatory </span>
										</div>
									</div>

									<div class="col-md-4 form-group padding-0">
										<label class="col-sm-5 control-label" for="description">
											Description </label>
										<div class="col-sm-7">
											<input type="text" class="form-control" id="description" autocomplete="off"
												ng-model="tenant.description" name="description">
										</div>
									</div>
									<div class="col-md-4 form-group padding-0"
										ng-class="{'has-error':Form.countryId.$dirty && Form.countryId.$invalid, 'has-success':Form.countryId.$valid}">
										<label class="col-sm-5 control-label" for="countryId">Country
											<span class="symbol required"></span>
										</label>
										<div class="col-sm-7">
											<select ng-model="tenant.countryMasterDto.countryId" class="form-control"
												required
												ng-options="country.countryId as country.countryName for country in country"
												name="countryId">
												<option value="">Select Country</option>
											</select> <span class="error text-small block"
												ng-if="Form.countryId.$dirty && Form.countryId.$invalid">Country
												is mandatory</span>
										</div>
									</div>

									<div class="col-md-4 form-group padding-0">
										<label class="col-sm-5 control-label" for="stateId">State
										</label>
										<div class="col-sm-7">
											<select ng-model="tenant.stateMasterDto.stateId" class="form-control"
												ng-options="state.stateId as state.stateName for state in state"
												name="stateId">
												<option value="">Select State</option>
											</select>
										</div>
									</div>
									<div class="col-md-4 form-group padding-0">
										<label class="col-sm-5 control-label" for="pincode">Pincode
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" id="pincode" autocomplete="off"
												ng-model="tenant.pincode" name="pincode">
										</div>
									</div>
									<div class="col-md-4 form-group padding-0">
										<label class="col-sm-5 control-label" for="mobile">
											Mobile <span class="symbol required"></span>
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" id="mobile" autocomplete="off"
												ng-model="tenant.mobile" name="mobile" ng-pattern="/^[0-9]{10,12}$/">
											<span class="error text-small block" ng-if="Form.mobile.$error.pattern">For
												mobile no only
												10 or 12 digits are allowed</span>
										</div>
									</div>
									<div class="col-md-4 form-group padding-0">
										<label class="col-sm-5 control-label" for="landline">Landline</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" id="landine" autocomplete="off"
												ng-model="tenant.landine" name="landine">
										</div>
									</div>
									<div class="col-md-4 form-group padding-0"
										ng-class="{'has-error':Form.emailId.$dirty && Form.emailId.$invalid, 'has-success':Form.emailId.$valid}">
										<label class="col-sm-5 control-label" for="emailId">E-mail<span
												class="symbol required"></span>
										</label>
										<div class="col-sm-7">
											<input type="email" class="form-control" id="emailId" autocomplete="off"
												ng-model="tenant.emailId" name="emailId" required> <span
												class="error text-small block"
												ng-if="Form.emailId.$dirty && Form.emailId.$invalid">E-MAIL
												is mandatory</span>
										</div>
									</div>
									<div class="col-md-4 form-group padding-0">
										<label class="col-sm-5 control-label" for="fax">Fax </label>
										<div class="col-sm-7">
											<input type="text" class="form-control" id="fax" autocomplete="off"
												ng-model="tenant.fax" name="fax">
										</div>
									</div>

									<div class="col-md-4 form-group padding-0"
										ng-class="{'has-error':Form.address1.$dirty && Form.address1.$invalid, 'has-success':Form.address1.$valid}">
										<label class="col-sm-5 control-label" for="addressLine1">Address
											<span class="symbol required"></span>
										</label>
										<div class="col-sm-7">
											<textarea style="width: 100%" wrap="hard" ng-model="tenant.registredAddress"
												id="address1" required name="address1"></textarea>
											<span class="error text-small block"
												ng-if="Form.address1.$dirty && Form.address1.$error.required">Address
												is mandatory</span>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<table datatable="" dt-options="tenantCtrl.dtOptions" dt-columns="tenantCtrl.dtColumns"
						dt-instance="dtInstance" class="table table-bordered row-border hover">
					</table>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>