<script>
$(document).ready(function(){
    $(".list-group-item").click(function(){
    $(".btn-default").click();
    });
});

</script> 
<!-- start: SETTINGS -->
<!-- <button ct-toggle="toggle" target="settings" parent-active-class="active" class="btn btn-default">
	<i class="fa fa-spin fa-gear"></i>
</button> -->
<div class="panel-heading ng-scope">
	Administrator
</div>
<div class="panel-body manage-box ng-scope padding-10">
	<div class="list-group">
    <a ui-sref="app.manageTenant" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage Tenant</a>
    <a ui-sref="app.manageUser" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage Users</a>
    <a ui-sref="app.manageItemMaster" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage Item Master</a>
    <a ui-sref="app.manageBusinessPartner" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage Business Partners</a>
    <a ui-sref="app.manageRole" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage Roles</a>
    <a ui-sref="app.managepermissions" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage Permissions</a> 
    <a ui-sref="app.manageCountry" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage Country</a>
    <a ui-sref="app.manageStateCode" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage State</a>
    <a ui-sref="app.emailConfig" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Email Configuration <br>&nbsp &nbsp and Controlling</a>
    <a ui-sref="" ui-sref-active="" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Access Control</a>
    <a ui-sref="" ui-sref-active="" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Template Creation</a>
    <a ui-sref="app.manageUqc" ui-sref-active="active" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Manage UQC</a>
    <a ui-sref="" ui-sref-active="" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Key Values</a>
    <a ui-sref="" ui-sref-active="" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Data Rules </a>
    <a ui-sref="" ui-sref-active="" class="list-group-item"><i class="fa fa-user " aria-hidden="true"></i> Field Mapping</a>
  </div>
</div>
<!-- end: SETTINGS -->
