<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle">Cost Invoice bulk Upload</h1>
		</div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<div class="container-fluid container-fullw" ng-controller="costInvoiceBulkUploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
	<div class="row">
		
		<div class="col-sm-12">
			<div class="inner-page-box">
			<div class="col-md-12 text-center no-padding">
			<div class="col-md-6">
			<div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            Drop your file here
                        </div>
                    </div>
            </div>
			<div class="col-md-6">
			<div class="col-md-12 no-padding multi-file-select my-select-zone no-margin">
			<div class="input-group">
			    <span class="input-group-btn">
					<button id="fake-file-button-browse" type="button" class="btn btn-primary">
						Select Multiple File</span>
					</button>
				</span>
				<input type="file" id="files-input-upload" nv-file-select="" uploader="uploader" accept=".pdf" multiple style="display:none">
			</div>
			</div>
			</div>
			</div>
                    
					<div class="col-md-12 no-padding">
					<div class="col-md-2"><h3>Upload queue</h3> </div>
					<div class="col-md-5"><span id="saveMsg"></span></div>
					<div class="col-md-5 text-right">
					<button type="button" class="btn btn-success btn-s" ng-click="uploadFiles()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                         </div>
                    </div>
                    <!-- <div class="col-md-12">
                            Upload progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div> -->
                    
                    <div class="col-md-12">
                    <p>Selected Files: {{ uploader.queue.length }} <span class="margin-left-40">Queue Size: {{uploadQueueSize|number:2 }}MB</span> </p>
					<div class="col-md-12 no-padding upload-tbl">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="uploadFiles(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
	                        <span class="glyphicon glyphicon-upload"></span> Upload
	                         </button>
	                         <button type="button" class="btn btn-danger btn-xs" ng-click="remove(item)">
	                             <span class="glyphicon glyphicon-trash"></span> Remove
	                         </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                </div>

</div>
			
			
		</div>
	</div>
</div>
<script type="text/javascript">
// Fake file upload
document.getElementById('fake-file-button-browse').addEventListener('click', function() {
	document.getElementById('files-input-upload').click();
});
</script>