<script>
	$(function() {
		$('#invoiceDate').datepicker({
			format : 'dd/mm/yyyy',
			"setDate" : new Date(),
			autoclose : true,
			todayHighlight : true,
		});
		$('#dueDate').datepicker({
			format : 'dd/mm/yyyy',
			"setDate" : new Date(),
			autoclose : true,
			todayHighlight : true,
		});

		$(document).on('click', '#close-preview', function() {
			$('.image-preview').popover('hide');
			// Hover befor close the preview
			$('.image-preview').hover(function() {
				$('.image-preview').popover('show');
			}, function() {
				$('.image-preview').popover('hide');
			});
		});

		// Create the close button
		var closebtn = $('<button/>', {
			type : "button",
			text : 'x',
			id : 'close-preview',
			style : 'font-size: initial;',
		});
		closebtn.attr("class", "close pull-right");
		// Set the popover default content
		$('.image-preview').popover({
			trigger : 'manual',
			html : true,
			title : "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
			content : "There's no image",
			placement : 'bottom'
		});
		// Clear event
		$('.image-preview-clear').click(function() {
			$('.image-preview').attr("data-content", "").popover('hide');
			$('.image-preview-filename').val("");
			$('.image-preview-clear').hide();
			$('.image-preview-input input:file').val("");
			$(".image-preview-input-title").text("Browse");
		});
		// Create the preview image
		$(".image-preview-input input:file").change(function() {
			var file = this.files[0];
			var reader = new FileReader();
			reader.readAsDataURL(file);
		});
	});

	//compare function here
	$(".expansion-btn")
			.click(
					function() {
						classes = this.className;
						var divNumber = classes.slice(-1);
						var toGetId = "#div-" + divNumber;
						if ($(toGetId).hasClass("expanded-div")) {
							$(".normal-div").removeClass(
									"compressed-div expanded-div");
							$("#div-2").addClass("pdf-box");
							$("#div-1").find(".to-md-6")
									.removeClass("col-md-6").addClass(
											"col-md-4");
							$(".pdf-file-name-icon").find(".fa").addClass(
									"fa-chevron-circle-left").removeClass(
									"fa-chevron-circle-right");
							$(".pdf-image").addClass("compare-pdf-box-close")
									.removeClass("compare-pdf-box-open");
							$(".file-name-title").removeClass("show-file-name")
									.addClass("remove-file-name");
							$("#app").removeClass("app-sidebar-closed");
							$(".table-responsive09").removeClass(
									"colaps-table-div")
						} else {
							$(".normal-div").removeClass(
									"compressed-div expanded-div pdf-box")
									.addClass("compressed-div");
							$(toGetId).removeClass("compressed-div").addClass(
									"expanded-div");
							$("#div-1").find(".to-md-6")
									.removeClass("col-md-4").addClass(
											"col-md-6");
							$("#app").addClass("app-sidebar-closed");
							$(".form-box").find(".collapse").removeClass("in");
							$(".pdf-file-name-icon").find(".fa").removeClass(
									"fa-chevron-circle-left").addClass(
									"fa-chevron-circle-right");
							$(".pdf-image")
									.removeClass("compare-pdf-box-close")
									.addClass("compare-pdf-box-open");
							$(".file-name-title").addClass("show-file-name")
									.removeClass("remove-file-name");
							$(".table-responsive09").addClass(
									"colaps-table-div")

						}
					});
</script>
<style>
.scroll-lines .table-responsive09 {
	overflow-y: scroll;
	max-height: 200px;
	width: 1060px;
}

.scroll-lines .table-responsive09.colaps-table-div {
	width: 100%;
}
.modal-content {
    background: #fff !important;
    box-shadow: none;
}
.modal-dialog.cust-modal {
    width: 60%;
}
.lines-box .table-responsive09 .table {
	width: 100%;
	max-width: 100%;
}
.highlightedTexts.form-control {
    border: 1px solid #c82e29 !important;
}
.audit-log-font {
    font-size: 16px;
}

</style>
<div class="container-fluid container-fullw generate-page"
	ng-controller="CustomerCostInvoiceCtrl">

	<form name="Form" novalidate ng-submit="form.submit(Form)">

		<section id="page-title">
			<div class="row">
				<div class="col-sm-4">
					<h1 class="mainTitle"
						ng-hide="data.headerId == null ? false : true">Create Cost
						Invoice</h1>
						
				</div>

				<div class="col-sm-8 text-right">
					<a href="javascript:;" data-toggle="collapse"
						data-target="#uploadFile">
						<button type="button" class="btn btn-primary">
							<i class="fa fa-upload" aria-hidden="true"></i> Upload
						</button>
					</a>
					<button type="submit" class="btn btn-primary"
						ng-click="submitted=true">
						<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
					</button>
					<button type="button" class="btn btn-primary"
						ng-click="sendToErp()"
						ng-disabled="data.headerId == null ? true : false"
						ng-show="tenantType=='CUSTOMER' ? true  : false">
						<i class="fa fa-arrow-right" aria-hidden="true"></i> Create Cost
						Invoice
					</button>
					<button type="button" class="btn btn-primary" ng-click="clear()">
						<i class="fa fa-eraser" aria-hidden="true"></i> Clear
					</button>
					<a ui-sref="app.costInvoiceQueue" class="btn btn-primary"><i
						class="fa fa-arrow-left"></i> Back</a>
				</div>
			</div>
		</section>
		<!-- end: PAGE TITLE -->


		<div class="row form-box normal-div" id="div-1">
			<div class="col-sm-12 no-padding">
				<div class="inner-page-box generate-page-main-box">
					<div class="col-sm-12 panel-collapse collapse" id="uploadFile">
						<fieldset>
							<legend> Upload Images </legend>
							<div class="form-group col-md-6 margin-top-10">
								<label class="col-sm-3 control-label margin-top-5">
									Upload Image </label>
								<div class="col-sm-9">
									<div class="input-group image-preview">
										<span class="input-group-addon"><i
											class="fa fa-file-image-o" aria-hidden="true"></i></span> <input
											type="text" class="form-control image-preview-filename"
											disabled="disabled"> <span class="input-group-btn">
											<button type="button"
												class="btn btn-default image-preview-clear"
												style="display: none;">
												<span class="glyphicon glyphicon-remove"></span> Clear
											</button>
											<div class="btn btn-primary image-preview-input">
												<span class="glyphicon glyphicon-search"></span> <span
													class="image-preview-input-title">Browse</span> <input
													type="file" file-model="myFile" id="ocrFile"
													onchange="angular.element(this).scope().uploadImage(this)"
													accept="image/png, image/jpeg, image/gif, .pdf"
													name="input-file-preview" />
											</div>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group col-md-2 margin-top-10">
								<button type="button" ng-click="uploadOCR()"
									class="btn btn-primary">
									<i class="fa fa-arrow-right"></i> Submit
								</button>
							</div>
						</fieldset>
					</div>


					<div class="col-md-12">
						<span id="saveMsg"></span>
					</div>
					<form role="form" class="form-horizontal">

						<div class="row hyva_taxer_details_box"
							ng-hide="data.headerId == null ? true : false">
							<div class="col-sm-5 text-left">
								<div class="col-sm-12 text-bold text-left">
									Invoice Status : <span id="invoiceStatus"></span>
									<button type="button" class="btn btn-primary margin-left-10"
										ng-click="refreshErp()"
										ng-hide="data.workFlowStatus == 3 || data.workFlowStatus == 5 || data.workFlowStatus == 6 ? false : true">
										<i class="fa fa-refresh" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
						<br>
						<div class="col-md-12 scroll-headers no-padding">
							<fieldset>
								<legend> Vendor Details </legend>

								<div class="row hyva_taxer_details_box">

									<div class="col-md-4 to-md-6 form-group">
										<div class="col-sm-5 text-bold text-right padding-0">
											Vendor Name<!--  <span class="symbol required"></span> -->
										</div>
										<div class="col-sm-7">
											<input type="text" ng-model="data.bpName" name="bpName"
												id="bpName" bp-auto-complete ng-change='samevalues()'
												class="form-control underline"  ng-required="loginDetails.tenantType=='CUSTOMER'">
												 <span
												class="error text-small block"
												ng-if="Form.bpName.$dirty && Form.bpName.$invalid">
												Name is mandatory</span>
										</div>
									</div>



									<div class="col-md-4 to-md-6 form-group">
										<div class="col-sm-5 text-bold text-right padding-0">
											Registered ID
											<!-- <span class="symbol required"></span> -->
										</div>
										<div class="col-sm-7">
											<input type="text" id="bpRegisteredId"
												ng-model="data.bpRegisteredId" name="bpRegisteredId"
												class="form-control underline" ng-change="populateFields(data.bpRegisteredId)"
												> 
												<!-- <span class="error text-small block"
												ng-if="Form.bpRegisteredId.$dirty && Form.bpRegisteredId.$invalid">Registered
												Id is Mandatory</span> -->
										</div>
									</div>



									<div class="col-md-4 to-md-6 form-group">
										<div class="col-sm-5 text-bold text-right padding-0">
											Vendor Address <!-- <span class="symbol required"></span> -->
										</div>
										<div class="col-sm-7">
											<textarea id="bpAddress" ng-model="data.bpAddress"
												name="bpAddress" class="form-control underline" ></textarea>
											<!-- <span class="error text-small block"
												ng-if="Form.bpAddress.$dirty && Form.bpAddress.$invalid">
												Address is mandatory</span> -->
										</div>
									</div>
								</div>
								
										<div class="col-md-4 to-md-6">
										<div class="form-group"
											ng-class="{'has-error':Form.invoiceNo.$dirty && Form.invoiceNo.$invalid, 'has-success':Form.invoiceNo.$valid}">
											<label class="col-sm-5 control-label" for="invoiceNo">
												Invoice Number <!-- <span class="symbol required"></span> -->
											</label>
											<div class="col-sm-7">
												<input type="text" id="invoiceNo" name="invoiceNo"
													ng-model="data.invoiceNo" class="form-control underline"
													> 
													<!-- <span class="error text-small block"
													ng-if="Form.invoiceNo.$dirty && Form.invoiceNo.$invalid">Invoice
													Number is mandatory</span> -->
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="col-md-4 to-md-6">
										<div class="form-group"
											ng-class="{'has-error':Form.invoiceDate.$dirty && Form.invoiceDate.$invalid, 'has-success':Form.invoiceDate.$valid}">
											<label class="col-sm-5 control-label" for="invoiceDate">
												Invoice Date <!-- <span class="symbol required"></span> -->
											</label>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" id="invoiceDate" name="invoiceDate"
														ng-model="data.invoiceDate" class="form-control underline"
														 autocomplete="off" /> <span
														class="input-group-btn">
														<button type="button" class="btn btn-primary">
															<i class="fa fa-calendar"></i>
														</button>
													</span>
												</div>
												<!-- <span class="error text-small block"
													ng-if="Form.invoiceDate.$dirty && Form.invoiceDate.$invalid">Invoice
													Date is mandatory</span> -->
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="col-md-4 to-md-6">
										<div class="form-group"
											ng-class="{'has-error':Form.invoiceValue.$dirty && Form.invoiceValue.$invalid, 'has-success':Form.invoiceValue.$valid}">
											<label class="col-sm-5 control-label" for="invoiceValue">
												Invoice Value <!-- <span class="symbol required"></span> -->
											</label>
											<div class="col-sm-7">
												<input type="text" id="invoiceValue" name="invoiceValue"
													ng-model="data.invoiceValue" ng-change="updateAmount()"
													ng-pattern="/^\d+(?:\.\d{1,5})?$/"
													class="form-control underline" > 
												<!-- 	<span
													class="error text-small block"
													ng-if="Form.invoiceValue.$dirty && Form.invoiceValue.$error.required">Invoice
													Value is mandatory</span>  --><span class="error text-small block"
													ng-if="Form.invoiceValue.$error.pattern">Invoice
													Value Should be Numeric or should contain maximum 2
													decimals</span>

											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="col-md-4 to-md-6">
										<div class="form-group"
											ng-class="{'has-error':Form.genFinancialPeriod.$dirty && Form.genFinancialPeriod.$invalid, 'has-success':Form.genFinancialPeriod.$valid}">
											<label class="col-sm-5 control-label"
												for="genFinancialPeriod"> Financial Period <!-- <span
												class="symbol required"></span> -->
											</label>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" ng-model="data.financialPeriod"
														id="genFinancialPeriod" name="genFinancialPeriod"
														class="form-control underline" autocomplete="off"  />
												</div>
												<!-- <span class="error text-small block"
													ng-if="Form.genFinancialPeriod.$dirty && Form.genFinancialPeriod.$invalid">Financial
													Period is mandatory</span> -->
											</div>
											<div class="clearfix"></div>
										</div>
									</div>

									<div class="col-md-4 to-md-6">
										<div class="form-group">
											<label class="col-sm-5 control-label" for="dueDate">
												Due Date </label>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" id="dueDate" name="dueDate"
														ng-model="data.dueDate" class="form-control underline"
														autocomplete="off" /> <span class="input-group-btn">
														<button type="button" class="btn btn-primary">
															<i class="fa fa-calendar"></i>
														</button>
													</span>
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									
							<div class="col-md-4 to-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label" for="bpStateId">
											Vendor State </label>
										<div class="col-sm-7">
											<select ng-model="data.bpStateId" id="bpStateId"
												ng-options="state.stateId as state.stateName for state in state"
												class="form-control underline">
												<option value=""  selected>Select State</option>
											</select>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</fieldset>
							<br>
							<div class="sales_error_box">
								<span id="saveMsg"></span>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">

								<fieldset>
									<legend> Company Details </legend>
									<div class="col-md-12 no-padding">
										<div class="col-md-4 to-md-6">
											<div class="form-group"
												ng-class="{'has-error':Form.registeredName.$dirty && Form.registeredName.$invalid, 'has-success':Form.registeredName.$valid}">
												<label class="col-sm-5 control-label" for="registeredName">
													Name <!-- <span class="symbol required"></span> -->
												</label>
												<div class="col-sm-7">
													<input type="text" ng-model="data.registeredName"
														name="registeredName" id="registeredName"
														ng-change='samevalues()' class="form-control underline"
														 ng-readonly="true"> <!-- <span
														class="error text-small block"
														ng-if="Form.registeredName.$dirty && Form.registeredName.$invalid">
														Name is mandatory</span> -->
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="col-md-4 to-md-6">
											<div class="form-group"
												ng-class="{'has-error':Form.registeredId.$dirty && Form.registeredId.$invalid, 'has-success':Form.registeredId.$valid}">
												<label class="col-sm-5 control-label" for="registeredId">
													Registered Id <!-- <span class="symbol required"></span> -->
												</label>
												<div class="col-sm-7">
													<input type="text" id="registeredId"
														ng-model="data.registeredId" name="registeredId"
														class="form-control underline"
														ng-readonly="true"> 
														<!-- <span
														class="error text-small block"
														ng-if="Form.registeredId.$error.pattern">Registered
														Id formate should like eg:05AAACB2484Q2ZV</span> -->

												</div>
												<div class="clearfix"></div>
											</div>
										</div>

									<!-- 	<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="bpCountryId">
													Country </label>
												<div class="col-sm-7">
													<select ng-model="data.ShipToCountry" id="bpCountryId"
														ng-options="country.countryId as country.countryName for country in country"
														class="form-control underline" ng-disabled="true">
														<option value="" disabled selected>Select Country</option>
													</select>
												</div>
												<div class="clearfix"></div>
											</div>
										</div> -->
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="registeredStateId">
													State </label>
												<div class="col-sm-7">
													<select ng-model="data.registeredStateId" id="registeredStateId"
														ng-options="state.stateId as state.stateName for state in state"
														class="form-control underline" ng-disabled="true">
														<option value="" disabled selected>Select State</option>
													</select>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="col-md-4 to-md-6">
											<div class="form-group"
												ng-class="{'has-error':Form.registeredAddress.$dirty && Form.registeredAddress.$invalid, 'has-success':Form.registeredAddress.$valid}">
												<label class="col-sm-5 control-label"
													for="registeredAddress"> Address <span
													class="symbol required"></span>
												</label>
												<div class="col-sm-7">
													<textarea id="bpAddress" ng-model="data.registeredAddress"
														name="registeredAddress" class="form-control underline"
														 ng-readonly="true"></textarea>
													<!-- <span class="error text-small block"
														ng-if="Form.registeredAddress.$dirty && Form.registeredAddress.$invalid">
														Address is mandatory</span> -->
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</fieldset>


								<fieldset class="margin-top-15">
									<legend>
										Ship To Details <span class="same_as_cdetails"
											ng-hide="loginDetails.tenantType=='VENDOR' ? false:true">
											<input type="checkbox" autocomplete="off" id="sameAsAbove"
											ng-model="sameAsAbove" ng-change='samevalues()'> <span><b>Same
													as billing Details</b></span>
										</span>
									</legend>

									<div class="col-md-12 no-padding">
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="shipToName">
													Name </label>
												<div class="col-sm-7">
													<input type="text" ng-model="data.shipToName"
														id="shipToName" class="form-control underline">
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label"
													for="shipToRegisteredId"> Registered Id </label>
												<div class="col-sm-7">
													<!-- <span class="text-normal-name">{{registeredId}}</span> -->
													<input type="text" id="shipToRegisteredId"
														name="shipToRegisteredId"
														ng-model="data.shipToRegisteredId"
														class="form-control underline" ng-change="changeEvent()"
														>
													<!-- <span class="error text-small block"
														ng-if="Form.shipToRegisteredId.$error.pattern">Registered
														Id formate should like eg:05AAACB2484Q2ZV</span> -->
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									<!-- 	<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="shipToState">
													Ship To Country </label>
												<div class="col-sm-7">
													<select ng-model="data.shipToCountryId"
														id="shipToCountryId"
														ng-options="country.countryId as country.countryName for country in country"
														class="form-control underline">
														<option value="" disabled selected>Select Country</option>
													</select>
												</div>
												<div class="clearfix"></div>
											</div>
										</div> -->
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="shipToState">
													Ship To State </label>
												<div class="col-sm-7">
													<select ng-model="data.shipToState"
														ng-options="state.stateId as state.stateName for state in state"
														id="shipToState" class="form-control underline"
														ng-change="changeEvent()">
														<option value="" disabled selected>Select Ship To
															State</option>
													</select>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="col-md-4 to-md-6">
											<div class="form-group">
												<label class="col-sm-5 control-label" for="shipToAddress">
													Address </label>
												<div class="col-sm-7">
													<textarea ng-model="data.shipToAddress" id="shipToAddress"
														name="shipToAddress" class="form-control underline"
														ng-change="changeEvent()"></textarea>

												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</fieldset>
									<fieldset class="margin-top-15">
							<legend>
								General Details
							</legend>

							<div class="col-md-12 no-padding">
								<div class="col-md-4 to-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label" for="deliveryTerms">
											Delivery Terms  </label>
										<div class="col-sm-7">
											<input type="text" ng-model="data.deliveryTerms" id="deliveryTerms"
												class="form-control underline">
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-md-4 to-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label" for="grnNumber">
											GRN Number
										</label>
										<div class="col-sm-7">
											<!-- <span class="text-normal-name">{{registeredId}}</span> -->
											<input type="text" id="grnNumber"
												name="grnNumber" ng-model="data.grnNumber"
												class="form-control underline">
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-md-4 to-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label" for="iban">
											IBan </label>
										<div class="col-sm-7">
											<input ng-model="data.iban" id="iban" class="form-control underline">
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-md-4 to-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label" for="paymentTerms">
											Payment Terms </label>
										<div class="col-sm-7">
											<input type="text" id="paymentTerms"
												name="paymentTerms" ng-model="data.paymentTerms"
												class="form-control underline">
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-md-4 to-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label" for="totalTaxableValue">
											Total Taxable Value 
										</label>
										<div class="col-sm-7">
											<input type="text" id="totalTaxableValue"
												name="totalTaxableValue" ng-model="data.totalTaxableValue"
												class="form-control underline">
								
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-md-4 to-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label" for="totalTaxValue">
											Total Tax Value 
										</label>
										<div class="col-sm-7">
											<input type="text" id="totalTaxValue"
												name="totalTaxValue" ng-model="data.totalTaxValue"
												class="form-control underline">
								
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</fieldset>
								
							</div>
						</div>
				</div>
				<div class="col-md-12 scroll-lines no-padding">
					<div class="row">
						<div class="col-md-12">
							<fieldset>
								<legend>
									Item Details
									<button type="button" class="btn add_new1" ng-click="addLine()">
										<i class="fa fa-plus" aria-hidden="true"></i> Add Line
									</button>
								</legend>

								<div class="col-md-12 eway-bill-box lines-box padding-5">
									<div class="table-responsive09">
										<table class="table table-bordered" id="fixTable">
											<thead id="header">
												<tr>

													<th colspan="1" rowspan="2">S.No</th>
													<th colspan="1" rowspan="2">Item Description<!-- <span
														class="red-star">*</span> --></th>
													<th colspan="1" rowspan="2">Item Type</th>
													<th colspan="1" rowspan="2">HSN/SAC</th>
													<th colspan="1" rowspan="2">Qty <!-- <span class="red-star">*</span> --></th>
													<th colspan="1" rowspan="2">UQC <!-- <span class="red-star">*</span> --></th>
													<th colspan="1" rowspan="2">Rate Per Item <!-- <span
														class="red-star">*</span> --></th>
													<th colspan="1" rowspan="1">Discount</th>
													<th colspan="1" rowspan="2">Taxable Value</th>
													<th  ng-if="companydetails.countryConfiguration=='INDIA'"colspan="1" rowspan="2">Tax Rate <!-- <span
														class="red-star">*</span> --></th>
													<th ng-if="companydetails.countryConfiguration=='INDIA'" colspan="3" rowspan="1">Tax Value (Rs.)</th>

													<!-- <th colspan="2" rowspan="1">Dimension</th> -->
													<th ng-if="companydetails.countryConfiguration=='INDIA'"colspan="2" rowspan="1">Cess</th>
													<th ng-if="companydetails.countryConfiguration=='OTHER'" colspan="1" rowspan="2">Vat(%)</th>
												    <th ng-if="companydetails.countryConfiguration=='OTHER'" colspan="1" rowspan="2">Vat Amount</th>
												    <th colspan="1" rowspan="2">Currency</th>
												    <th colspan="1" rowspan="2">GL Account <span
														class="red-star">*</span></th>
												    <th colspan="1" rowspan="2">Cost Center</th>
													<th colspan="1" rowspan="2">Freight</th>
													<th colspan="1" rowspan="2">Packing</th>
													<th colspan="1" rowspan="2">Insurance</th>
													<th colspan="1" rowspan="2">Total</th>
													<th colspan="1" rowspan="2">Actions</th>
												</tr>
												<tr>
													<th colspan="1" rowspan="1" class="two_th text-center">
														<span class="discount-column"> <span>%<input
																type="radio" name="discount_type" ng-model="discountInr"
																value="Rate" ng-change="changeToPercentage()"></span> <span>Currency<input
																type="radio" name="discount_type" ng-model="discountInr"
																value="Rupees" ng-checked="true"
																ng-change="changeToPercentage()"></span>
													</span>
													</th>
													<th ng-if="companydetails.countryConfiguration=='INDIA'">CGST</th>
													<th ng-if="companydetails.countryConfiguration=='INDIA'">SGST</th>
													<th ng-if="companydetails.countryConfiguration=='INDIA'">IGST</th>
													<!-- <th>Type <span class="red-star">*</span></th>
													<th>Value <span class="red-star">*</span></th> -->
													<th ng-if="companydetails.countryConfiguration=='INDIA'">%</th>
													<th ng-if="companydetails.countryConfiguration=='INDIA'">Amt (Rs.)</th>

												</tr>
											</thead>
											<tbody id="body">
												<tr ng-repeat="ctrl in data.items track by $index">
													<input type="hidden" ng-model="ctrl.lineId" value="">
													<td>{{ $index + 1 | number }}</td>
													<td>
														<div class="input"
															ng-class="{'has-error':Form.descGoods{{$index}}.$dirty && Form.descGoods{{$index}}.$invalid, 'has-success':Form.descGoods{{$index}}.$valid}">
															<input type="text" id="descGoods{{$index}}"
																name="descGoods{{$index}}" ng-model="ctrl.descGoods"
																class="form-control" placeholder="Select item from list"
																index="{{$index}}"  items-auto-complete
																ng-class="{red:Form.descGoods{{$index}}.$invalid && (Form.descGoods{{$index}}.$touched || Form.$submitted)}">
														<!-- 	<span
																ng-class="{tooltip11:Form.descGoods{{$index}}.$invalid && (Form.descGoods{{$index}}.$touched || Form.$submitted) && Form.descGoods{{$index}}.$error.required,tooltip12:Form.descGoods{{$index}}.$valid || Form.descGoods{{$index}}.$invalid}">Item
																Description is mandatory</span> -->
														</div>
													</td>
													<td>
														<div class="input">
															<select id="itemType" class="form-control"
																ng-model="ctrl.itemType">
																<option value="Goods">Goods</option>
																<option value="Services">Services</option>
															</select>
														</div>
													</td>
													<td>
														<div class="input"
															ng-class="{'has-error':Form.hsnSc{{$index}}.$dirty && Form.hsnSc{{$index}}.$invalid, 'has-success':Form.hsnSc{{$index}}.$valid}">
															<input type="text" id="hsnSc{{$index}}"
																name="hsnSc{{$index}}" ng-model="ctrl.hsnSc"
																pattern="^(0|[1-9][0-9]*)$" class="form-control"
																ng-class="{red:Form.hsnSc{{$index}}.$invalid && (Form.hsnSc{{$index}}.$touched || Form.$submitted)}">
														<!-- 	<span
																ng-class="{tooltip11:Form.hsnSc{{$index}}.$invalid && (Form.hsnSc{{$index}}.$touched || Form.$submitted) && Form.hsnSc{{$index}}.$error.required,tooltip12:Form.hsnSc{{$index}}.$valid || Form.hsnSc{{$index}}.$invalid}">HSN
																Code is mandatory</span> --> <span
																ng-class="{tooltip11:Form.hsnSc{{$index}}.$invalid && (Form.hsnSc{{$index}}.$touched || Form.$submitted) && Form.hsnSc{{$index}}.$error.pattern,tooltip12:Form.hsnSc{{$index}}.$valid || Form.hsnSc{{$index}}.$invalid}">Invalid
																data format</span>
														</div>
													</td>
													<td>
														<div class="input"
															ng-class="{'has-error':Form.qty{{$index}}.$dirty && Form.qty{{$index}}.$invalid, 'has-success':Form.qty{{$index}}.$valid}">
															<input type="number" ng-model="ctrl.qty" ng-change="updateAmount()"
																id="qty{{$index}}" name="qty{{$index}}"
																class="form-control"
																ng-class="{red:Form.qty{{$index}}.$invalid && (Form.qty{{$index}}.$touched || Form.$submitted)}"
																><!--  <span
																ng-class="{tooltip11:Form.qty{{$index}}.$invalid && (Form.qty{{$index}}.$touched || Form.$submitted) && Form.qty{{$index}}.$error.required,tooltip12:Form.qty{{$index}}.$valid || Form.qty{{$index}}.$invalid}">Quantity
																is mandatory</span> -->
														</div>
													</td>
													<td>
														<div class="input"
															ng-class="{'has-error':Form.uqc{{$index}}.$dirty && Form.uqc{{$index}}.$invalid, 'has-success':Form.uqc{{$index}}.$valid}">
															<select ng-model="ctrl.uqc"
																ng-options="uqcList.uqcCode as uqcList.uqcCode for uqcList in uqcList"
																class="form-control" id="uqc{{$index}}"
																name="uqc{{$index}}" 
																ng-class="{red:Form.uqc{{$index}}.$invalid && (Form.uqc{{$index}}.$touched || Form.$submitted)}">
																<option value="" disabled selected>--Select
																	UQC--</option>
															</select> <!-- <span
																ng-class="{tooltip11:Form.uqc{{$index}}.$invalid && (Form.uqc{{$index}}.$touched || Form.$submitted) && Form.uqc{{$index}}.$error.required,tooltip12:Form.uqc{{$index}}.$valid || Form.uqc{{$index}}.$invalid}">UQC
																is mandatory</span> -->
														</div>
													</td>
													<td>
														<div class="input"
															ng-class="{'has-error':Form.productRate{{$index}}.$dirty && Form.productRate{{$index}}.$invalid, 'has-success':Form.productRate{{$index}}.$valid}">
															<input type="text" ng-model="ctrl.productRate" ng-change="updateAmount()"
																class="form-control" pattern="^[0-9,]+(\.[0-9]{1,5})?$"
																id="productRate{{$index}}" name="productRate{{$index}}"
																
																ng-class="{red:Form.productRate{{$index}}.$invalid && (Form.productRate{{$index}}.$touched || Form.$submitted)}">
															<!-- <span
																ng-class="{tooltip11:Form.productRate{{$index}}.$invalid && (Form.productRate{{$index}}.$touched || Form.$submitted) && Form.productRate{{$index}}.$error.required,tooltip12:Form.productRate{{$index}}.$valid || Form.productRate{{$index}}.$invalid}">Rate
																per Item is mandatory</span> --> <span
																ng-class="{tooltip11:Form.productRate{{$index}}.$invalid && (Form.productRate{{$index}}.$touched || Form.$submitted) && Form.productRate{{$index}}.$error.pattern,tooltip12:Form.productRate{{$index}}.$valid || Form.productRate{{$index}}.$invalid}">Invalid
																data format</span>
														</div>
													</td>
													<td>
														<div class="input">
															<input type="number" ng-model="ctrl.discountRate"
																class="form-control">
														</div>
													</td>
													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.txval" ng-change="updateAmount()"
																class="form-control">
														</div>
													</td>
													<td ng-if="companydetails.countryConfiguration=='INDIA'">
														<div class="input"
															ng-class="{'has-error':Form.rate{{$index}}.$dirty && Form.rate{{$index}}.$invalid, 'has-success':Form.rate{{$index}}.$valid}">
															<select id="rate" ng-model="ctrl.rate" ng-change="updateAmount()"
																class="form-control" name="rate{{$index}}"
																ng-class="{red:Form.rate{{$index}}.$invalid && (Form.rate{{$index}}.$touched || Form.$submitted)}"
																>
																<option ng-value="0">0</option>
																<option ng-value="5">5</option>
																<option ng-value="12">12</option>
																<option ng-value="18">18</option>
																<option ng-value="28">28</option>
															</select> <span
																ng-class="{tooltip11:Form.rate{{$index}}.$invalid && (Form.rate{{$index}}.$touched || Form.$submitted) && Form.rate{{$index}}.$error.required,tooltip12:Form.rate{{$index}}.$valid || Form.rate{{$index}}.$invalid}">Tax
																Rate is mandatory</span>
														</div>
													</td>
													<td ng-if="companydetails.countryConfiguration=='INDIA'">
														<div class="input">
															<input type="text" ng-model="ctrl.camt" ng-pattern="/^\d+(?:\.\d{1,2})?$/"  ng-change="updateAmount()" ng-class="{red:Form.camt{{$index}}.$invalid && (Form.camt{{$index}}.$touched || Form.$submitted)}"
																class="form-control" id="camt{{$index}}" name="camt{{$index}}">
																<span
															ng-class="{tooltip11:Form.camt{{$index}}.$invalid && (Form.camt{{$index}}.$touched || Form.$submitted) && Form.camt{{$index}}.$error.pattern,tooltip12:Form.camt{{$index}}.$valid || Form.camt{{$index}}.$invalid}">Invalid
															data format</span>
														</div>
													</td>
													<td ng-if="companydetails.countryConfiguration=='INDIA'">
														<div class="input">
															<input type="text" ng-model="ctrl.samt"  ng-pattern="/^\d+(?:\.\d{1,2})?$/" ng-change="updateAmount()" ng-class="{red:Form.samt{{$index}}.$invalid && (Form.samt{{$index}}.$touched || Form.$submitted)}"
																class="form-control" id="samt{{$index}}" name="samt{{$index}}">
																	<span
															ng-class="{tooltip11:Form.samt{{$index}}.$invalid && (Form.samt{{$index}}.$touched || Form.$submitted) && Form.samt{{$index}}.$error.pattern,tooltip12:Form.samt{{$index}}.$valid || Form.samt{{$index}}.$invalid}">Invalid
															data format</span>
														</div>
													</td>
													<td ng-if="companydetails.countryConfiguration=='INDIA'">
														<div class="input">
															<input type="text" ng-model="ctrl.iamt" ng-pattern="/^\d+(?:\.\d{1,2})?$/" ng-change="updateAmount()" ng-class="{red:Form.iamt{{$index}}.$invalid && (Form.iamt{{$index}}.$touched || Form.$submitted)}"
																class="form-control" id="iamt{{$index}}" name="iamt{{$index}}">
																	<span
															ng-class="{tooltip11:Form.iamt{{$index}}.$invalid && (Form.iamt{{$index}}.$touched || Form.$submitted) && Form.iamt{{$index}}.$error.pattern,tooltip12:Form.iamt{{$index}}.$valid || Form.iamt{{$index}}.$invalid}">Invalid
															data format</span>
														</div>
													</td>

									
													<td ng-if="companydetails.countryConfiguration=='INDIA'">
														<div class="input">
															<input type="text" ng-model="ctrl.csrt"  ng-pattern="/^\d+(?:\.\d{1,2})?$/" ng-change="updateAmount()" ng-class="{red:Form.csrt{{$index}}.$invalid && (Form.csrt{{$index}}.$touched || Form.$submitted)}"
																class="form-control"  id="csrt{{$index}}" name="csrt{{$index}}">
																<span
															ng-class="{tooltip11:Form.csrt{{$index}}.$invalid && (Form.csrt{{$index}}.$touched || Form.$submitted) && Form.csrt{{$index}}.$error.pattern,tooltip12:Form.csrt{{$index}}.$valid || Form.csrt{{$index}}.$invalid}">Invalid
															data format</span>
														</div>
													</td>
													<td ng-if="companydetails.countryConfiguration=='INDIA'">
														<div class="input"   >
															<input type="text" ng-model="ctrl.csamt" ng-pattern="/^\d+(?:\.\d{1,2})?$/" ng-change="updateAmount()"  id="csamt{{$index}}" name="csamt{{$index}}"
																class="form-control" ng-class="{red:Form.csamt{{$index}}.$invalid && (Form.csamt{{$index}}.$touched || Form.$submitted)}" >
																<span
															ng-class="{tooltip11:Form.csamt{{$index}}.$invalid && (Form.csamt{{$index}}.$touched || Form.$submitted) && Form.csamt{{$index}}.$error.pattern,tooltip12:Form.csamt{{$index}}.$valid || Form.csamt{{$index}}.$invalid}">Invalid
															data format</span>
														</div>
													</td>
													<td ng-if="companydetails.countryConfiguration=='OTHER'">
													<div class="input"   >
														<input type="text" ng-model="ctrl.vat"  ng-pattern="/^\d+(?:\.\d{1,2})?$/" id="vat{{$index}}" name="vat{{$index}}"
															class="form-control" ng-class="{red:Form.vat{{$index}}.$invalid && (Form.vat{{$index}}.$touched || Form.$submitted)}" >
															<span
															ng-class="{tooltip11:Form.vat{{$index}}.$invalid && (Form.vat{{$index}}.$touched || Form.$submitted) && Form.vat{{$index}}.$error.pattern,tooltip12:Form.vat{{$index}}.$valid || Form.vat{{$index}}.$invalid}">Invalid
															data format</span>
													</div>
												</td>
												<td ng-if="companydetails.countryConfiguration=='OTHER'">
													<div class="input"  >
														<input type="text" ng-model="ctrl.vatAmount" ng-pattern="/^\d+(?:\.\d{1,2})?$/"   id="vatAmount{{$index}}" name="vatAmount{{$index}}" 
															class="form-control" ng-class="{red:Form.vatAmount{{$index}}.$invalid && (Form.vatAmount{{$index}}.$touched || Form.$submitted)}">
															<span
															ng-class="{tooltip11:Form.vatAmount{{$index}}.$invalid && (Form.vatAmount{{$index}}.$touched || Form.$submitted) && Form.vatAmount{{$index}}.$error.pattern,tooltip12:Form.vatAmount{{$index}}.$valid || Form.vatAmount{{$index}}.$invalid}">Invalid
															data format</span>
													</div>
												</td>
												<td>
														<div class="input">
															<input type="text" ng-model="ctrl.currency"
																class="form-control">
														</div>
													</td>
											    
											    <td>
														<div class="input"
															ng-class="{'has-error':Form.ledgerAccount{{$index}}.$dirty && Form.ledgerAccount{{$index}}.$invalid, 'has-success':Form.ledgerAccount{{$index}}.$valid}">
															<select ng-model="ctrl.ledgerAccount"
																class="form-control" id="ledgerAccount{{$index}}" name="ledgerAccount{{$index}}"
																ng-class="{ 'has-error' : myForm.ledgerAccount.$invalid && (myForm.$submitted  || myForm.ledgerAccount.$touched ) }"
																required-notification="State is mandatory" required
																ng-change="getDimension(ctrl.ledgerAccount,$index)">
																<option ng-repeat="ledgerData in ledgerAccount"
																	value="{{ledgerData.ledgerAccount}}">{{ledgerData.ledgerAccount}}
																</option>
															</select> <span class="error text-small block"
																ng-if="Form.ledgerAccount.$dirty && Form.ledgerAccount.$invalid">ledger
																is mandatory</span>
														</div>

												</td>
												<td>
													<div class="input">
														<input type="text" ng-model="ctrl.costCenter" 
															class="form-control">
													</div>
												</td>

													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.freight" ng-pattern="/^\d+(?:\.\d{1,2})?$/" id="freight{{$index}}" name="freight{{$index}}"
																class="form-control"  ng-class="{red:Form.freight{{$index}}.$invalid && (Form.freight{{$index}}.$touched || Form.$submitted)}">
																<span
															ng-class="{tooltip11:Form.freight{{$index}}.$invalid && (Form.freight{{$index}}.$touched || Form.$submitted) && Form.freight{{$index}}.$error.pattern,tooltip12:Form.freight{{$index}}.$valid || Form.freight{{$index}}.$invalid}">Invalid
															data format</span>
														</div>
													</td>

													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.packing" ng-pattern="/^\d+(?:\.\d{1,2})?$/" id="packing{{$index}}" name="packing{{$index}}"  ng-class="{red:Form.packing{{$index}}.$invalid && (Form.packing{{$index}}.$touched || Form.$submitted)}"
																class="form-control">
																	<span
															ng-class="{tooltip11:Form.packing{{$index}}.$invalid && (Form.packing{{$index}}.$touched || Form.$submitted) && Form.packing{{$index}}.$error.pattern,tooltip12:Form.packing{{$index}}.$valid || Form.packing{{$index}}.$invalid}">Invalid
															data format</span>
														</div>
													</td>

													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.insurance" ng-pattern="/^\d+(?:\.\d{1,2})?$/"
																id="insurance{{$index}}" name="insurance{{$index}}"  ng-class="{red:Form.insurance{{$index}}.$invalid && (Form.insurance{{$index}}.$touched || Form.$submitted)}" class="form-control">
															<span
															ng-class="{tooltip11:Form.insurance{{$index}}.$invalid && (Form.insurance{{$index}}.$touched || Form.$submitted) && Form.insurance{{$index}}.$error.pattern,tooltip12:Form.insurance{{$index}}.$valid || Form.insurance{{$index}}.$invalid}">Invalid
															data format</span></div>
													</td>

													

													<td>
														<div class="input">
															<input type="text" ng-model="ctrl.lineValue" ng-change="updateAmount()"
																ng-change="calculateInvoivcevalue()"
																class="form-control">
														</div>
													</td>
												
													<td class="text-center"><button type="button"
															class="btn btn-danger btn-xs" title="Delete">
															<i class="fa fa-trash " aria-hidden="true"
																ng-click=deleteLine($index) title="Delete"></i>
														</button></td>


												</tr>
												<!-- <tr class="salse_total_row">
													<td colspan="7" class="text-center">Total Amount</td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td><div class="input">
															<input type="text" class="form-control" disabled>
														</div></td>
													<td></td>
												</tr> -->
											</tbody>
										</table>

									</div>

								</div>

							</fieldset>
							 <div class="col-sm-12">
			<div class=" col-sm-6">
				<span class="audit-log-font"><b>Created By:</b>{{userName}}</span>
			</div>
			<div class=" col-sm-6">
				<span class="audit-log-font"><b>Created On :</b>{{data.createdOn}}</span>
			</div>
			
			</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
		<button type="button" class="btn btn-primary" ng-click="logShowHide()">Open Log Details <div><i class="fa fa-angle-double-down" aria-hidden="true"></i></div></button>
		</div>    
		
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 log-box" ng-repeat="ctrl in log track by $index" ng-show = "logisVisible">
			<div class="col-sm-12 ">
			<div class=" col-sm-4">
				<span class="audit-log-font"><b>Action : </b> {{ctrl.action}}</span>
			</div>
			<div class=" col-sm-4">
				<span class="audit-log-font"><b>Action Date :</b>{{ctrl.loggedDate}}</span>
			</div>
			<div class=" col-sm-4">
				<span class="audit-log-font"><b>Action By :</b>{{ctrl.userName}}</span>
			</div>
			</div>
			<div class="faield-date-box-data">
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 log-half-box">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5" ng-show="ctrl.oldData">
			<div class="log-head">Old Headers</div>
			<div class="log-content">{{ctrl.oldData}}</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5" ng-show="ctrl.items[1]">
			<div class="log-head">Old Lines</div>
			<div class="log-content" ng-repeat="ctrlItems in ctrl.items[1] track by $index">
					{{ctrlItems}}
			</div>
			</div>			
			</div>			
			
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 log-half-box">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5" ng-show="ctrl.newDate">
			<div class="log-head">New Headers</div>
			<div class="log-content">{{ctrl.newDate}}</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5" ng-show="ctrl.items[0]">
			<div class="log-head">New Lines </div>
			<div class="log-content" ng-repeat="ctrlItems in ctrl.items[0] track by $index">
					{{ctrlItems}}
				</div>
				</div>
			</div>
			</div>
			<div class="clearfix"></div>
			</div>
		</div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<div class="normal-div pdf-box" id="div-2">
			<div class="pdf-file-name">
				<div class="pdf-file-name-icon expansion-btn exp-1"
					ng-click="compareInvoices(data)">
					<i class="fa fa-chevron-circle-left"></i>
				</div>
				<div class="file-name-title remove-file-name"></div>
			</div>
			<div class="pdf-file-box">
				<iframe class="" id="ifmReport"></iframe>
			</div>
		</div>

	</form>
	<div class="modal fade" id="myModel" role="dialog">
    <div class="modal-dialog cust-modal">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        
          <button type="button" class="close" ng-click="clearIgnore()" data-dismiss="modal">&times;</button>
          <div class="col-sm-12">
          <h4 class="modal-title">Dimensions</h4>
          </div>
        </div>
        <div class="modal-body">
         	<div class="row">
         	<div class="col-sm-12">
         	<p >Note : Below Highlighted fields are mandatory for the selected GLAccount</p>
         	</div>
		<div class="col-sm-12 margin-top-10">
			<form name="myForm1" ng-submit="saveDimension()" >

				<div class="">
					<div class="col-md-12 margin-bottom-10 sales_heading">
						<div class="col-md-12 alert-box">
							<span class="saveMsg"></span>
						</div>
					</div>
					<div class="row">
					<div class="col-md-12 no-padding">
					<div class="col-md-6">
					<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" for="roleName" >Department
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="department" name="department" id="1" class="form-control underline"> 
								<span class="error text-small block"
												ng-if="">
												Department is mandatory</span>
							</div>
						</div>
						</div>
							<div class="col-md-6">
					<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" >Warehouse
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="warehouse" name="warehouse"
												id="2"
												class="form-control underline" ng-required="iwWarehouse"> <span
												class="error text-small block"
												ng-if="myForm1.warehouse.$dirty && myForm1.warehouse.$invalid">
												warehouse is mandatory</span>
							</div>
						</div>
						</div>
							<div class="col-md-6">
					<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" >Period
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="period" name="period"
												id="3"
												class="form-control underline" ng-required="isperiod"> <span
												class="error text-small block"
												ng-if="myForm1.period.$dirty && myForm1.period.$invalid">
												Period is mandatory</span>
							</div>
						</div>
						</div>
							<div class="col-md-6">
						<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" for="roleName">Employee
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="employee" name="country"
												id="4"
												class="form-control underline" ng-required="isemployee"> <span
												class="error text-small block"
												ng-if="myForm1.employee.$dirty && myForm1.employee.$invalid">
												Employee is mandatory</span>
							</div>
						</div>
						</div>
									<div class="col-md-6">
						<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" >Cost Center
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="costCenter" name="costCenter"
												id="5"
												class="form-control underline" ng-required="iscostCenter"> <span
												class="error text-small block"
												ng-if="myForm1.costCenter.$dirty && myForm1.costCenter.$invalid">
												costCenter is mandatory</span>
							</div>
						</div>
						</div>
									<div class="col-md-6">
						<div class="col-md-12 form-group no-padding">
							<label class="col-sm-5 control-label" >Division
							</label>
							<div class="col-sm-7">
								<input type="text" ng-model="division" name="division"
												id="6"
												class="form-control underline" ng-required="isdivision"> <span
												class="error text-small block"
												ng-if="myForm1.division.$dirty && myForm1.division.$invalid">
												Division is mandatory</span>
							</div>
						
						</div>
							
							
								
									
							
						</div>
										
										
						
						</div>
					</div>
					<div class="col-md-12 no-padding text-center margin-bottom-10">
						<button type="submit" ng-click="submitted=true"
								class="btn btn-primary">
								<i  aria-hidden="true"></i> Save
				</button>
				          <button type="button" class="btn btn-default" ng-click="clearIgnore()" data-dismiss="modal">Close</button>
				
				</div>
				</div>
			
			</form>
			
		</div>
	</div>
        </div>
      </div>
      
    </div>
  </div> 
	
</div>




</div>