<div class="row">
	<div class="col-sm-12">
		<h3 >File Upload Status</h3>
	</div>
</div>

<div class="row margin-bottom-10"
	data-ng-controller="viewBulkStatusQueueCtrl as showCase" data-ng-cloak>
	<div class="margin-top-10 eway-bill-tab-box bulk-upload-status-box">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<ul id="ewayBillQueuestabs" class="nav nav-tabs">
				<li class="active" ng-click="toOpen()"><a class="bg-primary"
					data-target="#q5" data-toggle="tab">Open</a></li>
				<li ng-click="toCompleted()"><a class="bg-success"
					data-target="#q2" data-toggle="tab">Completed </a></li>
				<li ng-click="toFailed()"><a class="bg-danger" data-target="#q3"
					data-toggle="tab">Failed</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="q5">
					<div class="row padding-top-5 padding-bottom-5">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive">

								<table datatable="" dt-options="showCase.dtOptions"
									dt-instance="dtInstance" dt-columns="showCase.dtColumns"
									class="table table-bordered"></table>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="q2">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive">
								<div ng-controller="completedBulkStatusQueueCtrl as showCase">
									<table datatable="" dt-options="showCase.dtOptions"
										dt-instance="dtInstance" dt-columns="showCase.dtColumns"
										class="table table-bordered"></table>
								</div>
							</div>
							<!-- <span>Consolidated Queue</span> -->
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="q3">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive">
								<div ng-controller="failedBulkStatusQueueCtrl as showCase">
									<table datatable="" dt-options="showCase.dtOptions"
										dt-instance="dtInstance" dt-columns="showCase.dtColumns"
										class="table table-bordered"></table>
									<div class="container">
										<div class="modal fade" id="myModal" role="dialog">
											<div class="modal-dialog">

												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">Reason to Fail</h4>
													</div>
													<div class="modal-body">
														<p>{{reason}}</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>

											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>






