<!-- start: PAGE TITLE --> 
<section id="page-title">
   <div class="row">
      <div class="col-sm-12">
         <h1 class="mainTitle" translate="sidebar.nav.pages.QUEUE">Invoice Queue</h1><span id="saveMsg"></span>
      </div>
      <!-- <div ncy-breadcrumb></div> -->
   </div>
</section>
<!-- end: PAGE TITLE -->
<div class="container-fluid container-fullw" ng-controller="GeneratedQueueCtrl as gqCtrl">
   <div class="row">
      <div class="col-sm-12">
         <div class="inner-page-box tab-box">
            <ul class="nav nav-tabs nav-justified">
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(2)"><i class="fa fa-plus" aria-hidden="true"></i> Saved & Received</a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(2)"><i class="fa fa-plus" aria-hidden="true"></i> Registred </a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(3)"><i class="fa fa-check" aria-hidden="true"></i> GRN Pending </a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(4)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> GRN Available</a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(10)"><i class="fa fa-check" aria-hidden="true"></i> Matched </a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(5)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Mismatched</a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(10)"><i class="fa fa-check" aria-hidden="true"></i> PD Approval Pending </a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(5)"><i class="fa fa-check" aria-hidden="true"></i> PD Approved</a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(6)"><i class="fa fa-check" aria-hidden="true"></i> LN Approved</a></li>
               <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(6)"><i class="fa fa-credit-card" aria-hidden="true"></i> Payment</a></li>
           
             </ul> 
                <!-- <li class="{{tenantType=='CUSTOMER' ? 'active': ''}}"><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(tenantType=='VENDOR' ? 1 : 2)"><i class="fa fa-plus" aria-hidden="true"></i> {{tenantType=='VENDOR' ? 'Submitted' : 'Saved & Received'}} </a></li>
        		<li ng-show="isManager" ><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(8)"><i class="fa fa-check" aria-hidden="true"></i>waiting for your approval</a></li>
                <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(3)"><i class="fa fa-check" aria-hidden="true"></i> Matched</a></li>
                <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(4)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Not Matched</a></li>
                <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(5)"><i class="fa fa-check-square-o" aria-hidden="true"></i> Approved from ERP</a></li>
                <li><a data-toggle="tab" data-target="#q6" ng-click="gqCtrl.reloadData(6)"><i class="fa fa-credit-card" aria-hidden="true"></i> Paid</a></li>
              </ul> -->

              <div class="tab-content">
                <div id="q6" class="tab-pane fade in active">
                  <!-- <div class="col-sm-12 adv-search-box padding-0">
               <div class="col-sm-6 padding-0">
                  <div class="col-sm-3 padding-0 adv-link">
                     <a href="javascript:;" data-toggle="collapse" data-target="#advSrchBoxSaved">Advanced Search</a>
                  </div>
               </div>
            </div> -->
            <div class="col-sm-12 adv-search-content-box panel-collapse collapse" id="advSrchBoxSaved">
               <div class="form-group col-md-4 padding-top-10">
                  <label class="col-sm-5 control-label" for="custName">
                  Name
                  </label>
                  <div class="col-sm-7">
                     <input type="text" id="custName" class="form-control underline">
                  </div>
               </div>
               <div class="form-group col-md-4 padding-top-10">
                  <label class="col-sm-5 control-label" for="custName">
                  Invoice Number
                  </label>
                  <div class="col-sm-7">
                     <input type="text" id="custName" class="form-control underline">
                  </div>
               </div>
               <div class="form-group col-md-4 padding-top-10">
                  <label class="col-sm-5 control-label" for="custName">
                  Invoice Date
                  </label>
                  <div class="col-sm-7">
                     <input type="text" id="custName" class="form-control underline">
                  </div>
               </div>
               <div class="form-group col-md-4">
                  <label class="col-sm-5 control-label" for="custName">
                  Invoice Date
                  </label>
                  <div class="col-sm-7">
                     <input type="text" id="custName" class="form-control underline">
                  </div>
               </div>
               <div class="form-group col-md-12"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Submit </button></div>
            </div>
            <div class="col-sm-12 padding-0">
               <div class="table-responsive" >
            <!--    class="row-border hover table table-bordered table-hover" -->
                  <table datatable="" dt-options="gqCtrl.dtOptions" dt-columns="gqCtrl.dtColumns" dt-instance="dtInstance"  class="row-border hover table table-bordered table-hover"></table>
               </div>
            </div>
            <div class="clearfix"></div>
                </div>
                <div id="q1" class="tab-pane fade">
                  
                </div>
                <div id="q5" class="tab-pane fade">
                  <h3>Not Matched</h3>
                  
                </div>
                <div id="q2" class="tab-pane fade">
                  <h3>Matched</h3>
                  
                </div>
                <div id="q3" class="tab-pane fade">
                  <h3>Aproved</h3>
                  
                </div>
                <div id="q4" class="tab-pane fade">
                  <h3>Payment</h3>
                  
                </div>
                 <div class="clearfix"></div>
              </div>          


            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>